[2020-01-22 09:53] joncison opened #528 "Add "Copy number variation detection" Operation"
Add "Copy number variation detection" Operation as child of *Structural variation detection*

Add subconcepts:
* Deletion detection
* Duplication detection
* Complex CNV detection
* Amplification detection
* Copy number estimation (which exists already)

[2020-01-22 09:56] d-salgado commented on #528
Can you please tell me when you have an edam test version for me to check that the terms are aligned with our discussions ?
Thanks

[2020-01-29 12:29] veitveit commented on #370
Collecting issues related to finishing off:
#284 (separate tabulator from pure textual formats)

[2020-01-29 12:31] joncison commented on #85
Galaxy includes many of the tabular formats, so it may make sense to do this simultaneously with https://github.com/edamontology/edamontology/issues/284 (and also ideally with the curation of the Galaxy data types themselves)

[2020-01-29 12:41] veitveit opened #530 "Compare content to FairSharing"
https://fairsharing.org/standards/?q=&selected_facets=type_exact:model/format&view=table

To be done:
export table and compare for coverage in EDAM formats
Fill in gaps
Think about information in Fairsharing that is usable for EDAM.

[2020-01-29 13:03] veitveit opened #531 "Fairsharing: compare and add"
https://fairsharing.org/standards/?q=&selected_facets=type_exact:model/format&view=table

To be done:
export table and compare for coverage in EDAM formats
Fill in gaps
Think about information in Fairsharing that is usable for EDAM.

[2020-01-29 13:04] veitveit commented on #207
Assumed not to be sufficiently relevant

[2020-01-29 13:04] #207 closed

[2020-01-29 13:04] veitveit commented on #210
TODO: recheck and then define

[2020-01-29 13:05] veitveit commented on #214
Most of the should be in.

[2020-01-29 13:05] #214 closed

[2020-01-29 13:10] veitveit commented on #236
Many of these format might be outdated or are already in.

[2020-01-29 13:10] #236 closed

[2020-01-29 13:25] joncison commented on #215
cc @albangaignard - this is the application for the software discussed today.

[2020-02-27 16:47] matuskalas commented on #418
Yes! Validator: https://github.com/edamontology/edamxpathvalidator/issues/14 Docs: https://github.com/edamontology/edamontologyDocs/issues/28

[2020-03-10 14:00] PratikDJagtap opened #532 "Protein Inference"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Operation name:**  < operation_name >

*Instructions:*  Name of operation, *e.g.* "Sequence aignment".  This

[2020-03-10 14:04] PratikDJagtap opened #533 "Peptide Spectrum Match"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Data name:**  < data_name >

*Instructions:*  Name of the type of data, *e.g.* "Protein sequence".  This is t

[2020-03-10 14:06] PratikDJagtap opened #534 "Phosphosite localization"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Data name:**  < data_name >

*Instructions:*  Name of the type of data, *e.g.* "Protein sequence".  This is t

[2020-03-10 18:42] PratikDJagtap opened #535 "Differential expression"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Data name:**  < data_name >

*Instructions:*  Name of the type of data, *e.g.* "Protein sequence".  This is t

[2020-03-10 18:45] PratikDJagtap opened #536 "Principal Components Analysis"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Data name:**  < data_name >

*Instructions:*  Name of the type of data, *e.g.* "Protein sequence".  This is t

[2020-03-15 09:53] joncison commented on #522
Now that [edamverify](https://github.com/edamontology/edamverify) is fully specified all concepts will be verified and labelled (if required) as ERROR, WARN or INFO on a per-error basis.  No need for labelling in EDAM.owl itself.   cc @matuskalas @veitveit @hmenager

So I close this.

[2020-03-15 09:53] #522 closed

[2020-03-15 09:56] #517 closed

[2020-03-15 09:58] #516 closed

[2020-03-15 10:02] joncison commented on #510
Hi @matuskalas - I know you have views on how this should be handled at a technical level (also related to [subsets](https://github.com/edamontology/edamontology/issues/418) - it would be nice to settle this for the next release.

Could you please come up with a practical proposal - bearing in mind what's been documented for [placeholder and concrete concepts](https://edamontologydocs.readthedocs.

[2020-03-15 10:08] joncison commented on #421
@matuskalas this boils down to [two checks](https://github.com/edamontology/edamverify/issues/19) for edamverify - once those checks are implemented we can close this issue.

[2020-03-15 11:50] joncison commented on #418
@matuskalas could you please just confirm you're still happy with the proposal here.  I'm adding this to the next milestone.

[2020-03-25 06:53] veitveit commented on #530
duplicate of #431

[2020-03-25 06:53] #530 closed

[2020-03-25 08:14] veitveit commented on #287
Is there any more concrete plan to automatically connect _format (by type of data) concepts_ with _data_?

Nailing this one would make the formats much more consistent and easier to add/edit.

Automatic remodeling of e.g. the _is_format_of_ into into _format concepts_ would require to deal with the following challenges:
-  Starting point for creating automatic relations:  _is_format_of_ into or _f

[2020-03-25 08:46] joncison commented on #287
I'm not sure (need to think more).  To explain a bit my first post ... in OWL you can define something like _e.g._

"Sequence alignment format"  is-equivalent-to   {some **Format** _isFormatOf_ "Sequence alignment"}

and then run a reasoner over EDAM.owl - every Format concept where {_isFormatOf_ "Sequence alignment"} is defined would be inferred to be a child of "Sequence alignment format".  This

[2020-03-25 08:51] veitveit commented on #287
Yes, there are quite a few placeholders that do not directly correspond to _data_ concepts. But they are easy to map as in most cases there is only a slight change in the wording

[2020-03-28 09:13] joncison commented on #525
Set this as child of _Molecular Genetics_ only

[2020-03-28 09:26] joncison commented on #536
thanks ,,, out soon in EDAM 1.25!

[2020-03-28 09:57] joncison commented on #535
We already have the EDAM Operation [Differential gene expression analysis](http://edamontology.org/operation_3223) which I think is what you need?   Although it's nested in the wrong place, and other clean-ups around [Expression analysis](http://edamontology.org/operation_2495) are needed ... will push them soon.

If rather than an Operation, you were requesting some other type of concept, please

[2020-03-29 09:44] joncison commented on #533
Hi @PratikDJagtap

I think the term you need here is [Peptide identification](http://edamontology.org/data_0945) and that I should add "Peptide spectrum match" as narrowSynonym.

Correct me if I'm wrong, & thanks !

[2020-03-29 09:48] joncison commented on #532
Hi @PratikDJagtap

The term you need is [Protein identification](http://edamontology.org/operation_3767) which has narrowSynonym "Protein inference".

[2020-03-29 09:51] joncison commented on #531
hey @veitveit

made (or planning) any progress on this ?

[2020-03-29 10:20] veitveit commented on #531
Yes, you will soon get a list for updates. I am also compiling a list of new terms but this will still take some time

[2020-03-29 10:34] joncison commented on #528
Hi @d-salgado

All the changes are now available in https://github.com/edamontology/edamontology/blob/master/EDAM_dev.owl and will be pushed into production (and thus made available in the BioPortal, OLS, and edamBrowser browsers) soon.

It'd be great if you can take a look at the changes, e.g. using [Protege](https://protege.stanford.edu/).

Thanks!

[2020-03-29 10:40] joncison commented on #510
Hi @matuskalas .. hope all is well. If you have thoughts on above, pls. ping them here so I can consider them for EDAM 1.25.  Thanks !

[2020-03-29 10:42] joncison commented on #418
@matuskalas could you pls. clarify ... do you want _**bio**_ to replace current _**edam**_ subset, or (somehow) in addition to it?

if you reply quick the change can make it into EDAM 1.25

Thanks!

[2020-03-29 18:05] joncison commented on #531
Cool, thanks !

[2020-03-30 09:33] joncison opened #537 "Rational vaccine design"
as EDAM Operation or Topic

[2020-03-30 09:35] joncison opened #538 "Antibody repertoire analysis"
EDAM operation

[2020-03-30 09:37] joncison opened #539 "Kids of "Side chain modelling" and "Vaccine design""
- _Antibody optimisation_ - "optimize the antibody-interacting surface of the antigen (epitope)"
- "Antigen optimisation" -  "optimize the antigen-interacting surface of the antibody (paratope)"
- _Antigen resurfacing_  - "resurface the antigen by varying the sequence of non-epitope regions)"

[2020-03-30 09:39] joncison opened #540 "Epitope scaffold design, and sub-concepts"
(EDAM Operation) as kid of Backbone modelling with kids:
- _Scaffold search_
- _Epitope grafting_
- _Design optimization_

[2020-03-30 09:40] joncison opened #541 "Scaffold selection"
as child (or somehow related) to _Backbone modelling_

[2020-03-30 09:47] joncison opened #542 "Structure-based immunogen design"

[2020-03-30 09:54] joncison commented on #538
from https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4456225/#!po=31.8182

"A general strategy for antibody repertoire analysis consisting of sample collection, next-generation sequencing (NGS) of antibody library, and bioinformatics analysis, which can be divided into two consecutive stages – primary analysis and in-depth analysis."

[2020-03-30 10:18] joncison opened #543 "Peptide-protein binding prediction"
as narrowSynyonym of _Ligand-binding site prediction_

[2020-03-30 10:35] joncison opened #544 "Reverse vaccinology"

[2020-03-30 10:36] joncison commented on #544
- _Structural vaccinology_
- _Vaccinology_

[2020-03-30 10:45] joncison opened #545 "Protein cellular localization prediction"
exactSynonym of _Subcellular localisation prediction_

[2020-03-30 10:49] joncison opened #546 "Protein subcellular localization"
EDAM Topic, to capture databases such as LOCATE, LocDB, and eSLDB.

[2020-03-30 10:51] joncison opened #547 "Adhesin prediction"
from https://www.intechopen.com/books/vaccines/the-impact-of-bioinformatics-on-vaccine-design-and-development#B17:

"In an infectious process, the first contact of the microorganism with the host cells is through adhesins. Molecules with adhesin properties are vaccine candidates [16]. The probability of identifying an adhesin is calculated based on the frequency of amino acids, dipeptides, or homo

[2020-03-30 10:56] joncison opened #548 "Antigenicity prediction"
as exactSynonym of _Peptide immunogenicity prediction_

[2020-03-30 11:21] joncison opened #549 "B cell peptide immunogenicity prediction"
as narrowSynonym of _Peptide immunogenicity prediction_

from https://www.intechopen.com/books/vaccines/the-impact-of-bioinformatics-on-vaccine-design-and-development#B17:

"Immunological system can be classified as cellular or humoral and, depending on the disease, it can be induced the expected immune response. If a vaccine that induces a cellular response is needed ...  the software must search

[2020-03-30 11:24] joncison opened #550 "Immunomics"
EDAM Topic
https://en.wikipedia.org/wiki/Immunomics

[2020-03-30 11:25] joncison commented on #550
related to _Immunoinformatics_ and _bioinformatics_

[2020-03-30 11:28] joncison commented on #544
from https://www.intechopen.com/books/vaccines/the-impact-of-bioinformatics-on-vaccine-design-and-development:
"Reverse vaccinology is a methodology that uses bioinformatics tools for the identification of structures from bacteria, virus, parasites, cancer cells, or allergens that could induce an immune response capable of protecting against a specific disease"

"Structural vaccinology focuses on

[2020-03-30 11:31] joncison opened #551 "Epitope prediction"
EDAM Operation

exactSynonym:
- _Antibody epitope prediction_

narrowSynonym:
- _B cell epitope prediction_
- _T cell epitope prediction_

[2020-03-31 07:51] veitveit commented on #531
@joncison These are updates for the terms I found in both:
https://docs.google.com/spreadsheets/d/1IIdkgs7yQ1guTgbLJb3nOcA4Zb1DIYGoXZxmlSNlDug/edit?usp=sharing

[2020-03-31 08:22] joncison commented on #531
Excellent ... the "updates" I can probably do manually.  The "new terms" (once it's finalised) I think would benefit from a script to generate the RDF/XML.   Let me know once the "updates" are ready to go.

[2020-03-31 08:28] veitveit commented on #531
The updates should be ready

On Tue, 31 Mar 2020, 10:22 Jon Ison, <notifications@github.com> wrote:

[2020-04-06 10:55] joncison commented on #539
added as narrowSynonym of _Side chain modelling_

[2020-04-06 11:03] joncison commented on #540
added as narrowSynonym of _Backbone modelling_

[2020-04-06 11:05] joncison commented on #541
added as narrowSynonym of _Backbone modelling_

[2020-04-06 12:28] joncison commented on #542
added as narrowSynonym of _Rational vaccine design_

[2020-04-06 12:37] joncison commented on #546
added as narrowSynonym of _Cell biology_

[2020-04-06 12:41] joncison commented on #544
the main concept is _Vaccinology_ (EDAM Topic) with other terms as narrowSynonym

[2020-04-06 12:47] joncison commented on #551
defined as exactSynonym and narrowSynonym of _Epitope mapping_

[2020-04-06 13:06] joncison commented on #538
added as narrowSynonym of _Vaccinology_

[2020-04-07 03:19] jonrkarr opened #552 "Format for Vega"
**Format name:**  Vega

**Short description:** Vega is a visualization grammar, a declarative language for creating, saving, and sharing interactive visualization designs. With Vega, you can describe the visual appearance and interactive behavior of a visualization in a JSON format, and generate web-based views using Canvas or SVG.

**Parent URI(s):** "http://edamontology.org/format_3464|http://ed

[2020-04-07 03:22] jonrkarr opened #553 "Format for Vega lite"
**Format name:**  Vega-lite

**Short description:** Vega-Lite is a high-level grammar of interactive graphics. It provides a concise JSON syntax for rapidly generating visualizations to support analysis. Vega-Lite specifications can be compiled to Vega specifications.

**Parent URI(s):** "http://edamontology.org/format_3464|http://edamontology.org/format_3547

**exactSynonym(s):**

**Specification

[2020-04-07 03:32] jonrkarr opened #554 "Format for NeuroML"
**Format name:**  NeuroML

**Short description:** A Model Description Language for Computational Neuroscience

**Parent URI(s):** "http://edamontology.org/format_2332|http://edamontology.org/format_2013

**exactSynonym(s):**

**Specification:** https://neuroml.org/

**Documentation:** https://neuroml.org/

**Wikipedia:**

**Publication:** 10.1371/journal.pcbi.1000815

**Data represented:** http://

[2020-04-07 03:40] jonrkarr opened #555 "Format for BNGL"
**Format name:**  BioNetGen Language

**Short description:** BioNetGen is a format for the specification and simulation of rule-based models of biochemical systems, including signal transduction, metabolic, and genetic regulatory networks.

**Parent URI(s):** "http://edamontology.org/format_2330|http://edamontology.org/format_2013

**exactSynonym(s):** BGNL

**Specification:**

**Documentation:**

[2020-04-07 08:51] joncison commented on #552
Thanks for this and the other suggestions @	jonrkarr, if you have any others please keep posting your issues - will try to incorporate them into the next release which we're planning to put out soon.

[2020-04-10 00:35] jonrkarr opened #556 "Format for Docker images"
**Format name:**  Docker image

**Short description:** A Docker image is a file, comprised of multiple layers, that is used to execute code in a Docker container. An image is essentially built from the instructions for a complete and executable version of an application, which relies on the host OS kernel.

**Parent URI(s):** http://edamontology.org/format_2333|http://edamontology.org/format_2350

[2020-04-24 10:24] sduvaud opened #557 "Epistasis"
**Topic name:**  < Epistasis >

**Short description:** < A situation in which the actions of one locus mask the allelic effects of another, in the same way that completely dominant alleles mask the effects of the recessive ones at the same locus. (Source: https://www.nature.com/scitable/content/defining-epistasis-25690/) >

**Parent URI(s):** < http://edamontology.org/topic_3070 | http://edamontol

[2020-04-30 09:08] mr-c opened #558 "Format for GFA"
**Format name:**  GFA

**Short description:**  Graphical Format Assembly captures sequence graphs as the product of an assembly, a representation of variation in genomes, splice graphs in genes, or even overlap between reads from long-read sequencing technology

**Parent URI(s):** http://edamontology.org/format_2330 | http://edamontology.org/format_2561

**exactSynonym(s):** gfa | .gfa

**Specific

[2020-05-01 18:52] sjackman commented on #558
Should this description differentiate between the incompatible versions GFA1 and GFA2?

I suggest using these two examples at https://github.com/sjackman/gfalint/tree/master/examples
GFA1: https://raw.githubusercontent.com/sjackman/gfalint/master/examples/big1.gfa
GFA2: https://raw.githubusercontent.com/sjackman/gfalint/master/examples/big2.gfa

[2020-05-01 18:54] sjackman commented on #558
I'd remove the comment `Comment: Similar to FASTG`. It's not really more similar to FASTG than to any other `Sequence assembly format (text)`.

[2020-05-01 20:07] mr-c commented on #558
Ah, I was speaking ontologically; that they are both sequence assembly formats.

[2020-05-01 20:08] mr-c commented on #558
Sure, I'd support splitting this into two concepts, GFA1 and GFA2 (no need for a parent concept since they are incompatible)

[2020-05-11 07:23] jonrkarr opened #559 "Format for ObjTables"
**Format name:**  ObjTables

**Short description:** ObjTables is a toolkit for creating re-usable datasets that are both human and machine-readable, combining the ease of spreadsheets (e.g., Excel workbooks) with the rigor of schemas (classes, their attributes, the type of each attribute, and the possible relationships between instances of classes). ObjTables consists of a format for describing sc

[2020-05-12 14:37] joncison commented on #414
It would be nice to settle a proposal for this, because we have users e.g. https://github.com/edamontology/edamontology/issues/552 who've diligently specified links to specification and documentation for their data format which, as things stand, will all get lumped together as ``<documentation>``.  Along with links for publication and to Wikpedia.   A bit of a mess.

See https://github.com/edamont

[2020-05-12 14:52] joncison commented on #553
thanks a million for the detailed info .. will appear in EDAM 1.25 ... out soon

[2020-05-12 15:52] joncison commented on #558
Thanks both! Will go in as two concepts / different URIs.

[2020-05-21 10:38] only1chunts opened #561 "potential data types"
Hi,
Sorry for not following the data concepts template you kindly provided!
At GigaDB we use a set of file types in a controlled vocabulary, I've been reconciling those to the EDAM_1.23 release and found a number of them missing from EDAM. Attached is a simple TSV table of those file types with the extension suffix expected and a short description. Sorry no URL links to references or any other det

[2020-05-29 11:46] joncison commented on #561
Thanks a million for this, and for the GigaDB::EDAM tie-in.

I'm taking a look now - aiming to get the new concepts in the next release out soon.  We can always flesh out the details (more concept metadata) in due course.

cc @veitveit  @matuskalas @hmenager

[2020-05-29 12:58] joncison commented on #561
@only1chunts  ... me and @matuskalas are working on a [g-sheet](https://docs.google.com/spreadsheets/d/1w80Ky5Q-bPTqlNcZ6MjzNsOP24YuAOBbCH1cg0ba4D0/edit#gid=0) with your terms right now.

[2020-05-29 14:51] sduvaud opened #562 "Comment regarding the EDAM Term "Design""
Hi,

As you know, we are moving from in-house keywords to EDAM in ExPASy. One of our resource providers, Vincent Zoete, who develops resources such as SwissDock, and who is in the molecular modelling/design/docking domain, has chosen "Design" as one of the operations to describe some of his resources. However, looking at the page [https://www.ebi.ac.uk/ols/ontologies/edam/terms?iri=http%3A%2F%2Fed

[2020-05-29 19:17] joncison commented on #562
Hi

[Design](http://edamontology.org/operation_2430) would do, but it's is a very high-level concept - it would be better to use something more specific.   I'll add _Small molecule design_.

PS.  we'll have a few new design concepts going into the next release, see e.g. https://github.com/edamontology/edamontology/issues/542, https://github.com/edamontology/edamontology/issues/540 and https://gith

[2020-05-30 10:28] sduvaud commented on #562
Hi Jon!

Thanks a million! I'll let Vincent know.

Best, Severine

On Fri, May 29, 2020 at 9:18 PM Jon Ison <notifications@github.com> wrote:

[2020-06-02 06:52] matuskalas commented on #562
"Small molecule design" sounds reasonable to me, unless there is a better term for it. But it definitely should be a Topic, not an Operation. Reminder: Topics should, whenever possible, have a corresponding Wikipedia article.

[2020-06-08 13:40] joncison commented on #561
All done @only1chunts ... will be out in the next release (coming soon)

[2020-06-09 14:07] #561 closed

[2020-06-09 14:08] matuskalas commented on #562
sorry, closed by mistake, reopening

[2020-06-18 09:04] joncison commented on #562
Hi @sduvaud

A bit of clean-up was needed, but in EDAM 1.25 (out this week) there will _Protein design_ and _Small molecule design_ sitting under _Design_, alongside _Nucleic acid design_.  These are obviously all very high-level operations, but useful for categorising the function of tools at a high level.

The existing concept _Virtual screening_ is now a child of _Small molecule design_ ... wit

[2020-06-18 10:42] #536 closed

[2020-06-18 10:42] #537 closed

[2020-06-18 10:42] #538 closed

[2020-06-18 10:42] #539 closed

[2020-06-18 10:42] #540 closed

[2020-06-18 10:42] #541 closed

[2020-06-18 10:42] #542 closed

[2020-06-18 10:42] #543 closed

[2020-06-18 10:42] #544 closed

[2020-06-18 10:42] #545 closed

[2020-06-18 10:42] #546 closed

[2020-06-18 10:42] #547 closed

[2020-06-18 10:42] #548 closed

[2020-06-18 10:42] #549 closed

[2020-06-18 10:42] #550 closed

[2020-06-18 10:42] #551 closed

[2020-06-18 10:42] #552 closed

[2020-06-18 10:42] #553 closed

[2020-06-18 10:42] #554 closed

[2020-06-18 10:42] #555 closed

[2020-06-18 10:42] #556 closed

[2020-06-18 10:42] #557 closed

[2020-06-18 10:42] #558 closed

[2020-06-18 10:42] #559 closed

[2020-06-18 10:42] #562 closed

[2020-06-18 10:42] #524 closed

[2020-06-18 10:42] #525 closed

[2020-06-18 10:42] #526 closed

[2020-06-18 10:42] #527 closed

[2020-06-18 10:42] #528 closed

[2020-06-18 10:42] #533 closed

[2020-06-18 10:42] #535 closed

[2020-06-18 10:46] #532 closed

[2020-06-24 15:24] mr-c opened #563 "Docker Image format_3973 should not be subClassOf Raw Sequence Format"
http://edamontology.org/format_3973

Raw Sequence Format has a biological meaning, docker images are not biological data

This wasn't part of the original request: https://github.com/edamontology/edamontology/issues/556

[2020-06-24 15:28] joncison commented on #563
Oops.  Will fix in next release or quietly patch the released files ...

[2020-06-24 15:30] mr-c opened #564 "non-workflow programming languages shouldn't be a subClassOf format_2032 Workflow"
Seems to conflate programming languages with workflow languages

Perl/Python/R Script formats should not be subClassOf Workflow

[2020-06-24 16:01] matuskalas commented on #564
Thanks @mr-c for your input and for joining the discussion!

There are a couple of reasons why we chose to model these this way, following the following points ☺️

- We do not want to model programming languages in EDAM
- But we need to model workflow languages because these aren't modeled in a suitable format elsewhere (as of yet)
- We want to do this as lightweight as possible, as it is on the b

[2020-07-10 09:42] joncison commented on #564
Hi @mr-c & @matuskalas

Is there any concrete actions here for next release?  To close this issue I think at least we need to document above, but pls. let me know if changes are also required to EDAM.owl.  Thanks!

[2020-07-10 09:45] joncison opened #565 "edamverify clean-ups: Omission of properties required for deprecated concepts"
see https://github.com/edamontology/edamverify/blob/master/queries/annotationDeprecationOmission.ipynb

[2020-07-10 09:45] joncison opened #566 "edamverify clean-ups: Misuse of properties intended for deprecated concepts only"
see https://github.com/edamontology/edamverify/blob/master/queries/annotationDeprecationMisuse.ipynb

[2020-07-10 09:46] joncison opened #567 "edamverify clean-ups: Subset misuse"
see https://github.com/edamontology/edamverify/blob/master/queries/subsetMisuse.ipynb

[2020-07-10 09:47] joncison opened #568 "edamverify clean-ups: Disallowed synonym"
see https://github.com/edamontology/edamverify/blob/master/queries/disallowedSynonym.ipynb

[2020-07-10 09:51] joncison opened #569 "edamverify clean-ups: Bad non-boolean value"
see https://github.com/edamontology/edamverify/blob/master/queries/badNonBooleanValue.ipynb

[2020-07-10 09:52] joncison opened #570 "edamverify clean-ups: Mandatory property missing"
see https://github.com/edamontology/edamverify/blob/master/queries/mandatoryPropertyMissing.ipynb

[2020-07-10 09:53] joncison opened #571 "edamverify clean-ups: Format property missing"
see https://github.com/edamontology/edamverify/blob/master/queries/formatPropertyMissing.ipynb

[2020-07-10 09:53] joncison opened #572 "edamverify clean-ups: Identifier property missing"
see https://github.com/edamontology/edamverify/blob/master/queries/identifierPropertyMissing.ipynb

[2020-07-10 09:54] joncison opened #573 "edamverify clean-ups: Wikipedia link missing"
see https://github.com/edamontology/edamverify/blob/master/queries/wikipediaLinkMissing.ipynb

[2020-07-10 09:57] joncison opened #574 "edamverify clean-ups: Deprecated concept with disallowed annotations or axioms"
see https://github.com/edamontology/edamverify/blob/master/queries/disallowedDeprecatedContent.ipynb

[2020-07-10 09:57] joncison opened #575 "edamverify clean-ups: Concept ID numerical duplication"
see https://github.com/edamontology/edamverify/blob/master/queries/idNumericalDuplication.ipynb

[2020-07-10 09:59] joncison opened #576 "edamverify clean-ups: File extension lacks synyonm"
see https://github.com/edamontology/edamverify/blob/master/queries/fileExtensionMissingSynonym.ipynb

[2020-07-10 10:00] joncison opened #577 "edamverify clean-ups: File extension bad characters"
see https://github.com/edamontology/edamverify/blob/master/queries/fileExtensionBadCharacter.ipynb

[2020-07-10 10:01] joncison opened #578 "edamverify clean-ups: Misuse of Wikipedia links"
see https://github.com/edamontology/edamverify/blob/master/queries/wikipediaMisuse.ipynb

[2020-07-10 10:10] joncison commented on #523
not yet actionable - moved to EDAM wiki [here](https://github.com/edamontology/edamontology/wiki/Ideas#edam--snakemake)

[2020-07-10 10:10] #523 closed

[2020-07-10 10:14] joncison commented on #521
not yet actionable - moved to [EDAM wiki](https://github.com/edamontology/edamontology/wiki/Ideas#edam--sourcedata)

[2020-07-10 10:14] #521 closed

[2020-07-10 10:23] joncison commented on #519
not yet actionable - moved to [EDAM wiki](https://github.com/edamontology/edamontology/wiki/Ideas#webulous-and-rightfield)

[2020-07-10 10:23] #519 closed

[2020-07-10 10:31] joncison opened #579 "Guidelines for format curation"
_From @joncison on December 2, 2017 12:39_

We need better guidelines (http://edamontologydocs.readthedocs.io/en/latest/editors_guide.html#adding-concepts) for how exactly various sources of information about formats should be documented, including:
* XSD or other formal format specifications
* more general documentation, e.g. Wikipedia entry
* publications
* _anything else_

 Below I copy posts f

[2020-07-10 10:34] joncison commented on #414
@hmenager @matuskalas @albangaignard I just migrated edamontology/edamontologyDocs#10 to this tracker (issue https://github.com/edamontology/edamontology/issues/579) as per your suggestion Matus.  Let's take the discussion there.  Will close this.

[2020-07-10 10:34] #414 closed

[2020-07-10 10:37] joncison commented on #418
nudge-nudge @matuskalas  - please take a look at above thread, perhaps action can be taken in next realease?

[2020-07-10 10:58] joncison commented on #356
what do you think @matuskalas ?

[2020-07-10 11:04] joncison commented on #365
Hi ebolyen cc @mr-c @matuskalas  I've set milestone to 1.27 (two releases away) - in case this issue is still relevant and we have some actionable items, please let me know here.  Thanks!

[2020-07-10 11:06] joncison commented on #366
not yet actionable - moved to [EDAM wiki](https://github.com/edamontology/edamontology/wiki/Ideas#using-inferred-sentences-to-validate-conceptual-integrity)

[2020-07-10 11:06] #366 closed

[2020-07-10 11:07] joncison commented on #367
Hi @hmenager

What's the status with EDAM JSON ?  It would be nice to bake it into our release process.

cc @hansioan

[2020-07-10 11:10] joncison commented on #368
We did a complete mapping of IFB keywords:EDAM with subsequent new EDAM release - for use in IFB catalogue in due course.

So I close this.   cc @hmenager

[2020-07-10 11:10] #368 closed

[2020-07-10 11:13] joncison commented on #369
not yet actionable - moved to [EDAM wiki](https://github.com/edamontology/edamontology/wiki/Ideas#use-of-edam-wrt-go-so-etc)

[2020-07-10 11:13] #369 closed

[2020-07-10 11:16] joncison commented on #379
not yet actionable - moved to [EDAM wiki](https://github.com/edamontology/edamontology/wiki/Ideas#eosc--edmi-metadata-guidelines)

[2020-07-10 11:16] #379 closed

[2020-07-10 11:27] joncison commented on #395
not yet actionable - moved to [EDAM wiki](https://github.com/edamontology/edamontology/wiki/Ideas#tooling-for-ontology-building-from-csv)

[2020-07-10 11:32] joncison commented on #104
@matuskalas - was this done / can I close this issue now?  thanks.

[2020-07-10 11:33] #123 closed

[2020-07-10 11:39] joncison commented on #138
I don't think a thorough inventory of all the work done on EDAM is ever going to happen - so I close this.  Added a note to https://github.com/edamontology/edamontologyDocs/issues/17 what could be done though.

[2020-07-10 11:45] joncison commented on #257
This fixed now, thanks @matuskalas

[2020-07-10 11:45] #257 closed

[2020-07-10 11:53] joncison commented on #295
Hi @matuskalas  - what's left to do here?  It would be good to finalise a list of def. actions on the repo especially.

[2020-07-10 13:19] mr-c commented on #257
Hurray!

[2020-07-10 14:22] joncison commented on #565
1049 deprecated (and mostly very old) concepts had no ``<oldParent>`` annotation.  For these I added:

``<oldParent rdf:resource="http://www.w3.org/2002/07/owl#Thing"/>``

thus preventing them cluttering the script output.

[2020-07-10 14:29] joncison commented on #565
Next commit will replace:
``<owl:deprecated rdf:datatype="http://www.w3.org/2001/XMLSchema#boolean">true</owl:deprecated>``

with
``<owl:deprecated>true</owl:deprecated>``

(7 occurrences)

[2020-07-10 14:31] joncison commented on #565
One down, 13 to go ... :) cc @hmenager @matuskalas

[2020-07-13 11:08] joncison commented on #567
There were about a dozen or so concepts with bad subset assignations. And a couple with IDs in the wrong namespace.

[2020-07-13 11:43] joncison commented on #568
Multiple Format concepts had narrow and broad synonyms which is not allowed (see https://edamontologydocs.readthedocs.io/en/latest/developers_guide.html#optional-attributes)  - all replaced with exactSynonym.

Format specialisations / generalisations should be handled at the conceptual level, e.g. new child concepts, as needed.

[2020-07-13 11:47] joncison commented on #569
No errors detected.

[2020-07-13 11:54] joncison commented on #570
About a dozen concepts were missing ``edam`` subset assignation.

[2020-07-13 12:46] joncison commented on #571
Huge number of missing properties reported - but a lot of these fields simply don't have data out there.

[2020-07-13 12:48] joncison commented on #572
No errors reported (just "INFO" level messages)

[2020-07-13 12:49] joncison commented on #571
No error messages (but 100's of WARN or INFO)

[2020-07-13 13:38] joncison commented on #573
Dozens of cases where a Wikipedia link was given as value for ``exactSynonym"

[2020-07-13 14:20] joncison commented on #573
Wikipedia links added to dozens of Topic concepts, about 20 remain without.

[2020-07-13 15:18] joncison commented on #575
No reported errors.

[2020-07-13 16:28] joncison commented on #578
20 or so concepts cleaned.

[2020-07-15 07:23] bryan-brancotte commented on #367
Hi

For the Edam Browser, if https://github.com/edamontology/edam2json/pull/9 is accepted I would just need the following somewhere:
[code]

[2020-07-15 10:14] joncison commented on #367
Thanks @bryan-brancotte !  I just accepted all the pull requests (sorry for the tardiness!)

Over to you @hmenager  :)

[2020-07-27 21:02] nsuvarnaiari opened #580 "Request for new terms under Data node"
Hi EDAM Team,

I'm Suvarna Nadendla, part of a project called the Common Fund Data Ecosystem (CFDE) (https://commonfund.nih.gov/dataecosystem). Our group at Institute for Genome Sciences, University of Maryland is the CFDE Coordinating Center. We are working to build an infrastructure that will allow the harmonization of (at least some) metadata across all of the Data Coordination Centers funded b

[2020-08-28 17:16] nsuvarnaiari commented on #580
Hi EDAM Team,

Just curious to know if you had a chance to look at the request. Please let me know if I am missing any required information.

Thanks,
Suvvi

[2020-09-02 08:56] joncison commented on #580
Hi Suvvi

Apologies for the late reply - major network outage over the last days here.   Many thanks for the suggestions - they will make it into the next release.

Please send any other requests you have - PS.  there are issue templates for each type of concept (Data, Format etc.) which can help structure the request - although the above is great, too.

[2020-09-24 18:06] vdda opened #581 "FAIR Topic concept"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Topic name:**  < FAIR>

**Short description:** < Topic related with FAIR Principales, [first published in 201

[2020-10-09 15:06] vdda commented on #581
Wikipedia: < "https://en.wikipedia.org/wiki/FAIR_data" >

[2020-10-13 11:10] JoshuaFortriede opened #582 "Expanding Image Terms"
I was wondering if you would consider expanding the image terms to include more specific microscopy terms. The CMO has an expansive set of [microscopy terms](https://www.ebi.ac.uk/ols/ontologies/chmo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCHMO_0001824).

If it would be helpful, I can follow your "Request new EDAM Data concept" template and put the various terms into that format.

Thank

[2020-10-13 21:36] matuskalas commented on #582
Thanks for your engagement @JoshuaFortriede !

We've been working on imaging-related EDAM concepts with the bioimage analysts' community, you might be interested in checking it out: https://github.com/edamontology/edam-bioimaging (you can view it at the [NCBO BioPortal](https://bioportal.bioontology.org/ontologies/EDAM-BIOIMAGING/?p=classes&conceptid=http%3A%2F%2Fedamontology.org%2Ftopic_3382) or

[2020-10-22 20:32] nsuvarnaiari commented on #580
Hi Jon,

I am sure you guys are busy with other things, but wanted to check if you can release the terms we requested soon.

Thanks,
Suvvi

[2020-10-23 07:33] matuskalas commented on #580
Dear Suvvi,

Thanks again for your comprehensive suggestions, we'll try to include them in the next release that will be published soon.

Many thanks for your contribution!
Matus

[2020-10-23 07:37] matuskalas opened #583 "Update BLAST formats"
Especially links to documentation/specification

[2020-11-11 21:38] jonrkarr opened #585 "New format for pharmML"
**Format name:**  pharmML

**Short description:** Pharmacometrics Markup Language (pharmML) is an exchange format for encoding of models, associated tasks and their annotation as used in pharmacometrics.

**Parent URI(s):** format_2013|format_2332

**exactSynonym(s):** Pharmacometrics Markup Language

**Specification:**

**Documentation:** http://www.pharmml.org/documentation2

**Wikipedia:**

**P

[2020-11-13 14:40] jonrkarr opened #586 "New format for PySB"
**Format name:**  PySB

**Short description:** PySB is a simple and intuitive domain specific language embedded within Python for describing mathematical rule-based models of biochemical systems.

**Parent URI(s):** format_2013|format_3996

**exactSynonym(s):**

**Specification:** https://pysb.readthedocs.io/en/stable/modules/core.html

**Documentation:** http://pysb.org/tutorials/|https://pysb.re

[2020-11-13 14:59] jonrkarr opened #587 "New format for the Virtual Cell Markup Language"
**Format name:**  VCML

**Short description:** Native file format for models developed with the Virtual Cell biomodeling and simulation software suite.

**Parent URI(s):** format_2013|format_2332

**exactSynonym(s):** Virtual Cell Markup Language

**Specification:**

**Documentation:** https://vcell.org/support

**Wikipedia:** https://en.wikipedia.org/wiki/Virtual_Cell

**Publication:** 10.1049/ie

[2020-11-13 15:07] jonrkarr opened #588 "New format for low Entropy Model Specification language"
**Format name:**  LEMS

**Short description:** XML-based language for specifying generic models of hybrid dynamical systems.

**Parent URI(s):** format_2013|format_2332

**exactSynonym(s):** Low Entropy Model Specification language

**Specification:** https://github.com/LEMS/LEMS/tree/master/Schemas/LEMS

**Documentation:** http://lems.github.io/LEMS/

**Wikipedia:**

**Publication:** 10.3389/fnin

[2020-11-13 16:10] matuskalas commented on #588
🙏🏽 Giant thanks for all your formats additions @jonrkarr !

Please keep them coming if you have more 👍🏽

[2020-11-13 16:12] matuskalas commented on #587
I really appreciate the level of detail you provide, big thanks for that! 👍🏽

[2020-11-13 16:12] matuskalas commented on #586
🙏🏽

[2020-11-13 17:01] jonrkarr commented on #586
Thanks for quickly including new terms.

FYI, we're using EDAM for a few projects to build a standard interface for biosimulation tools, build a registry of simulation tools (biosimulators.org), and build web-based tools for using these simulation tools to execute models. We're using EDAM to keep track of formats for different kinds of models and and simulations in different domains e.g., systems

[2020-11-13 17:31] matuskalas commented on #586
Sounds awesome, thanks a lot for the details! It's very useful to have an overview of implementations where EDAM is useful 👍🏽

I'll do my best to get your formats into EDAM quickly.

[2020-11-27 19:00] jonrkarr opened #589 "New format for Dockerfile"
**Format name:**  Dockerfile

**Short description:** Format for describing the steps required to build a Docker image. The format can also capture metadata about images.

**Parent URI(s):** format_2330

**exactSynonym(s):**

**Specification:**

**Documentation:** https://docs.docker.com/engine/reference/builder/

**Wikipedia:** https://en.wikipedia.org/wiki/Docker_(software)

**Publication:**

**D

[2020-11-27 19:00] jonrkarr opened #590 "New format for BioSimulators simulation specifications"
**Format name:**  BioSimulators format for the specifications of biosimulation tools

**Short description:** Format for describing the capabilities of a biosimulation tool including the modeling frameworks, simulation algorithms, and modeling formats that it supports, as well as metadata such as a list of the interfaces, programming languages, and operating systems supported by the tool; a link to

[2020-11-27 19:00] jonrkarr opened #591 "New format for BioSimulators standard for command-line interfaces for biosimulation tools"
**Format name:**  BioSimulators standard for command-line interfaces for biosimulation tools

**Short description:** Outlines the syntax and semantics of the input and output arguments for command-line interfaces for biosimulation tools.

**Parent URI(s):** format_2330

**exactSynonym(s):**

**Specification:** https://biosimulators.org/standards/simulator-interfaces

**Documentation:** https://bio

[2020-11-27 19:00] jonrkarr opened #592 "New format for BioSimulators Dockerfile structure for biosimulation tools"
**Format name:**  BioSimulators Dockerfile structure for biosimulation tools

**Short description:** Guidelines for Dockerfiles for building Docker images of biosimulation tools. Prescribes their entry points and recommends labels that should be used to document metadata about the image and the underlying biosimulation tool.

**Parent URI(s):** *new term for Dockerfile*

**exactSynonym(s):**

**Sp

[2020-12-04 14:53] mshadbolt opened #593 "[EDIT] data:3112 - Gene expression matrix"
Sorry for not using the template properly but there is no template to request edits to existing terms.

While curating I noticed the definition of data:3112 - Gene expression matrix  is

I think it would be useful if this was changed to be more general so that it can also be applied to gene expression matrices that have been generated by sequencing experiments as well as microarray experiments.

e

[2020-12-08 03:39] RichardBruskiewich opened #594 "ORCID identifiers"
**Identifier name:**  < ORCID Identifier >

**Short description:** < Identifier of a researcher registered with the ORCID database >

**Parent URI(s):** < http://edamontology.org/data_0006 | http://edamontology.org/data_0842 | http://edamontology.org/data_0976 | http://edamontology.org/data_2118 | http://edamontology.org/data_1881 >

**exactSynonym(s):** < >

**Regular expression:** < ^\d{4}-\d{4}

[2020-12-08 17:32] jonrkarr opened #595 "New term for PyTables dialect of HDF5"
**Format name:**  PyTables

**Short description:** PyTables is a dialect of HDF5 which stores hierarchically organized numerical data, as well as indices into this data for rapid searching and retrieval. The PyTables format is supported by the PyTables Python software package.

**Parent URI(s):** format_3590

**exactSynonym(s):**

**Specification:** https://www.pytables.org/usersguide/file_format.

[2020-12-16 10:59] d-salgado opened #596 "Addition of a new "sequence set" term"
**Data name:** " Sequencing sequence set"

**Short description:** Any set of sequence coming from a DNA sequencing technology.

**Parent URI(s):** http://edamontology.org/data_1234

**exactSynonym(s):** Sequencing reads

*Instructions:* Exact synonym(s) delimited by pipe ('|') *e.g.* "Protein sequences". Other commonly-used terms, acronyms *etc.* by which the concept is referred to.

**Wikipedia:*

[2020-12-16 11:24] d-salgado opened #597 "New "Sequence variation" sub term : Sequence variant annotation"
**Data name:**  Sequence variant annotation

**Short description:** Data describing a specific sequence variation

**Parent URI(s):** http://edamontology.org/data_3498

**Comment:** < Sequence variation can be accompanied of various annotations. These annotations can be descriptive and may provide information about the role of the mutation and even provide a specific classification (benign, pathog

[2021-01-09 06:54] jonrkarr opened #599 "New format for extension of SBML for qualitative models"
**Format name:**  SBML-qual

**Short description:** SBML-qual is an extension of SBML for representing logical models.

**Parent URI(s):** format_2585

**exactSynonym(s):** qual

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/qual

**Documentation:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/qual

**Wikipedia:**

**Publication:** 10.1186/1752

[2021-01-09 06:58] jonrkarr opened #600 "New format for extension of SBML for flux balance models"
**Format name:**  SBML-fbc

**Short description:** SBML-fbc is an extension of SBML for representing flux balance models.

**Parent URI(s):** format_2585

**exactSynonym(s):** fbc | flux balance constraints

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc

**Documentation:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc

**Wikipedia:**

**

[2021-01-09 07:01] jonrkarr opened #601 "New format for extension of SBML for multi-state/multi-species models"
**Format name:**  SBML-multi

**Short description:** SBML-multi is an extension of SBML for representing multi-state/multi-species, or rule-based models.

**Parent URI(s):** format_2585

**exactSynonym(s):** multi | Multistate and Multicomponent Species

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/multi

**Documentation:** http://sbml.org/Documents/Specificati

[2021-01-09 07:04] jonrkarr opened #602 "New format for extension of SBML for composite models"
**Format name:**  SBML-comp

**Short description:** SBML-comp is an extension of SBML for representing composite models.

**Parent URI(s):** format_2585

**exactSynonym(s):** comp | Hierarchical Model Composition

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/comp

**Documentation:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/comp

**Wikipedi

[2021-01-09 07:07] jonrkarr opened #603 "New format for extension of SBML for probabilistic models"
**Format name:**  SBML-distrib

**Short description:** SBML-distrib is an extension of SBML for representing models that involve probabilistic distributions.

**Parent URI(s):** format_2585

**exactSynonym(s):** distrib | Distributions

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/distrib

**Documentation:** http://sbml.org/Documents/Specifications/SBML_Level_3

[2021-01-09 07:10] jonrkarr opened #604 "New format for extension of SBML for groups of species and reactions"
**Format name:**  SBML-groups

**Short description:** SBML-groups is an extension of SBML for using groups to abstract the representation of complex models.

**Parent URI(s):** format_2585

**exactSynonym(s):** groups | Groups

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/groups

**Documentation:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/

[2021-01-11 08:57] hansioan opened #605 "Weirdness with http://edamontology.org/operation_3923"
If I go to the link:

http://edamontology.org/operation_3923
which describes the term `Genome resequencing`

it looks like I get to the Topic tree. I also have issues validating this term in bio.tools.

I looked at the owl file
https://raw.githubusercontent.com/edamontology/edamontology/master/releases/EDAM_1.25.owl

and found that the operation:
http://edamontology.org/operation_3923

seems to be

[2021-01-11 09:04] hansioan commented on #605
Same for
http://edamontology.org/operation_3939

seems to be a subclas of the topic
http://edamontology.org/topic_3297

[code]

[2021-01-11 11:09] matuskalas commented on #605
Oh no, major bugs 🐛

@hmenager could you please when you find time include a quick fix to find all such cases by the CI testing? It looks like it must have got lost in the last refactoring of the CI 😞

[2021-01-27 12:19] only1chunts opened #606 "Pairwise read mapping format (PAF)"
**Format name:**  < PAF >

**Short description:** < Pairwise read mapping format (PAF) is a lightweight sequence alignment format keeping the key mapping information. >

**Parent URI(s):** < Alignment format [format:1921] >

**exactSynonym(s):** none known

**Specification:**
I cannot find a definitive source for any information about the format, but it is mentioned in these place with definitions

[2021-01-28 10:08] Kigaard opened #607 "Electroencephalography"
**Topic name:**  < Electroencephalography >

**Short description:** < The monitoring method for measuring electrical activity in the brain. >

**Parent URI(s):** < http://edamontology.org/topic_3300 >

**exactSynonym(s):** < EEG >

**narrowSynonym(s):** < ? >

**Wikipedia:** < https://en.wikipedia.org/wiki/Electroencephalography >

**Comment:** < comment >

[2021-01-28 11:53] matuskalas commented on #607
Thanks for the submission @Kigaard ! 👍🏽

We probably should add it to https://github.com/edamontology/edam-bioimaging
(which will be integrated with the "main" EDAM later 2021 or 2022)

[2021-01-28 12:05] Kigaard commented on #607
Hi @matuskalas. Is it something you will do? Or should I do it? And in that case, how?

[2021-01-28 12:24] matuskalas commented on #607
@Kigaard It'd be the absolutely best if you briefly explain where/how/when you want to use it (and if you'll need more concepts), and then we can together decide the best short-term and/or long-term way forward.

[2021-01-28 12:38] Kigaard commented on #607
@matuskalas, my primary intent for the suggestion was for use in @bio-tools as a tool topic. I don't have a time horizon for when it  is supposed to be used.

[2021-02-01 10:55] Kigaard opened #608 "Electrocardiography"
**Topic name:**  < Electrocardiography  >

**Short description:** < The monitoring method for measuring electrical activity in the heart.  >

**Parent URI(s):** < http://edamontology.org/topic_3300 >

**exactSynonym(s):** < EKG | ECG >

**narrowSynonym(s):** <>

**Wikipedia:** < https://en.wikipedia.org/wiki/Electrocardiography >

**Comment:** < Primarly intented for use in @bio-tools as a tool to

[2021-02-01 11:03] Kigaard opened #609 "Multiomics"
**Topic name:**  < Multiomics >

**Short description:** < A biological analysis approach which intergrate multiple omics types. >

**Parent URI(s):** < http://edamontology.org/topic_3391 >

**exactSynonym(s):** < Panomics >

**narrowSynonym(s):** <>

**Wikipedia:** < https://en.wikipedia.org/wiki/Multiomics >

**Comment:** < Primarly intented for use in @bio-tools as a tool topic. Alternativly, a

[2021-02-01 11:20] Kigaard opened #610 "Antimicrobial resistance"
**Topic name:**  < Antimicrobial resistance >

**Short description:** < Microbial mechanisms for protecting microorganisms against antimicrobial agents>

**Parent URI(s):** < http://edamontology.org/topic_3301 >

**exactSynonym(s):** < AMR | AR >

**narrowSynonym(s):** < Antibiotic resistance | ABR >

**Wikipedia:** < https://en.wikipedia.org/wiki/Antimicrobial_resistance >

**Comment:** < Primarl

[2021-02-23 10:06] matuskalas commented on #581
Summary (#584)

Added 3 generic topics to start with:
  - Open science (http://edamontology.org/topic_4010)
  - Data management (http://edamontology.org/topic_4011)
  - FAIR data (http://edamontology.org/topic_4012, under both of the above 2)

This should now enable the "first-pass" annotations of tools and training materials in generic registries. Please feel free to start using the above IDs/URI

[2021-02-23 10:06] #581 closed

[2021-03-03 22:46] jonrkarr opened #611 "New format concept for PETab"
**Format name:**  PETab

**Short description:** A data format for specifying parameter estimation problems in systems biology

**Parent URI(s):** format_3475

**exactSynonym(s):**

**Specification:** https://petab.readthedocs.io/en/stable/documentation_data_format.html

**Documentation:** https://petab.readthedocs.io/en/stable/

**Wikipedia:**

**Publication:** 10.1371/journal.pcbi.1008646

**Data

[2021-03-12 14:36] jonrkarr opened #612 "New format for extension of SBML for spatial models"
**Format name:**  SBML-spatial

**Short description:** SBML-spatialis an extension of SBML for representing spatially-resolved models.

**Parent URI(s):** format_2585

**exactSynonym(s):** spatial

**Specification:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/spatial

**Documentation:** http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/spatial

**Wikipedia:**

**Pu

[2021-03-12 14:43] jonrkarr opened #613 "New format for extension of SBML for dynamic flux balance analysis (DFBA) models"
**Format name:**  SBML-DFBA

**Short description:** SBML-DFBA is a schema for encoding dynamic flux balance analysis models into SBML, SBML-comp, and SBML-fbc

**Parent URI(s):** format_2585

**exactSynonym(s):** spatial

**Specification:** https://github.com/matthiaskoenig/dfba/raw/master/schema/DFBA_models_in_SBML.pdf

**Documentation:** https://github.com/matthiaskoenig/dfba/tree/master/docs/

[2021-03-12 17:11] AnkitaxPriya commented on #295
Hi @joncison, according to the community standards a pull request template must be added. I can help with that.

[2021-03-28 12:53] matuskalas opened #614 "Suggest a commit message template"
Please suggest a template for all commit messages to this repo, in form of either ideas, or even better a work-in-progress pull request. This issue is open for ideas from many contributions! 💡

[a good short task for Outreachy applicants]

----

**No idea what this is?** Recommended reading is here:
 - Learning Git https://coderefinery.github.io/git-intro/ (incl. installation)
 - What is a (good)

[2021-03-29 18:10] shaonakundu commented on #614
Hello sir, I am Outreachy applicant. My initial application got approved. I am enthusiastic and would love to contribute. I also have keen interests in Machine learning

[2021-03-29 18:44] matuskalas commented on #614
Welcome @shaonakundu, so awesome to hear that you're interested! 🙌🏽

Please feel free to ask for help whenever you need, either here, or in [Gitter](https://gitter.im/edamontology/edamontology).
(Or if needed privately on email matus.kalas@uib.no)

[2021-03-29 18:47] shaonakundu commented on #614
Thank you sir @matuskalas , can you guide on which issues I can contribute to for Machine learning?

[2021-03-29 19:52] trhiana commented on #614
Hello. I'm a prospective Outreachy applicant.
I think the template should also have how the commit addresses the problem and the possible effects (good or bad)

[2021-03-29 20:15] matuskalas opened #615 "Suggest a pull request template"
Please suggest a template for GitHub **pull requests** (PR, PRs) to this repository (could in theory also be a set of multliple PR templates). Please suggest the template in form of either ideas, or even better a work-in-progress pull request on its own. This issue is open for ideas from many contributors! 💡

Please take into account that this issue is to some extent related to #614.

----

**Not

[2021-03-29 20:23] matuskalas commented on #295
Dear @AnkitaxPriya, thank you so much for your offer, and sorry for not replying immediately. We are very happy that you want to contribute, and adding a pull request template is an excellent idea, highly appreciated! 🙌🏽

I created a specific issue for this purpose, #615. Please comment there and I'll assign it to you.
(I haven't marked it yet "good first issue", so that you can have more peace wo

[2021-03-29 20:43] cupcakes-code commented on #614
Hello, Im an outreachy prospective applicant.
The template message should have a brief and to the point comments about the project and how it contributes to a project.
simple message should include Who contributed to the project. Date provided with version info, impact including a brief reasoning for contributing.  There should also be a where or the line of code where the contribution was edited.

[2021-03-29 20:53] shaonakundu commented on #614
To add on, a commuter message can be divided into subject and body where subject can have the heading and body will consist the destination. Keeping this mind, the commit message should be short and crisp but detailed to make others understand. Also, punctuation symbols and whitespace errors should be ignored.

[2021-03-29 21:04] shaonakundu commented on #615
Description plays a vital role in a template while reviewing any bug fixes or changes made. It must be detailed yet short stating the bug fix and the solution applied, or say changes made in any code, test cases used. It should basically look like a markdown file

[2021-03-30 05:05] SAY-droid427 commented on #614
Hey! I am a prospective Outreachy applicant. My initial application got approved. I am enthusiastic about contributing to the project.

[2021-03-30 06:01] RuthAtem commented on #614
Hello @matuskalas I'm an Outreachy applicant and very interested in contributing to this project.
I think your template idea is already great. For additional suggestions, I'll say the commit should description should have a capitalized subject line which briefly tells what change is being made and where the change is. After this we could have a short description explaining why the change is being

[2021-03-30 07:21] ahlraf commented on #614
Hello @matuskalas, I'm an Outreachy applicant looking forward to work here.
Adding on to your template, I think the description should have:
- version details,
- if approved, what will the commit do?
- tags/ flairs to specify what kind of commit this is: code refactor/ documentation/ formatting/ bug fixes,
- is it is a work in progress?
I feel formatting is important too: including newlines, capit

[2021-03-30 10:23] RuthAtem commented on #615
In addition to your suggested template the PR could have in this in the description :
- Is this a bug fix or a feature? and how it had been tested.

[2021-03-30 10:51] Lukong123 commented on #614
Hello @matuskalas and  other applicants.
For the template I suggest it should emphasize that commit messages be in a readable format which can be easily  understood by other developers even in the future.
Relevant link or even extra information can be added.
What the commit thus should be stated in a concise manner
And equally updating the branch can come in handy.

[2021-03-30 11:56] matuskalas opened #616 "Set up an "offline" Git repository"
This is not a proper issue, but a good first task of setting up a clone of this repository on a local or remote computer, for everyone who wants to edit EDAM locally (or on a remote machine via _ssh_).

1. Fork this repository into your user space on GitHub _(read below if not sure how)_
2. Clone it onto your local machine
3. Set up your local repository, following the instructions in [CONTRIBUTIN

[2021-03-30 12:14] SAY-droid427 commented on #614
Hello @matuskalas
I would like to suggest this template:
While writing the commit message always use the keywords: Fix/Remove/Refactor/Add/Update/Document as this will give a clear indication of what has been done. It is easier to process mentally.
Then comes the 'Why is the change necessary? Is it a new feature,does it rectify a bug, does it improve the existing thing in short.
Then comes how doe

[2021-03-30 12:33] bryan-brancotte opened #617 "Add type-dependent relationships to issue template"
Hi !

For each type of concept, there is a template available at https://github.com/edamontology/edamontology/tree/main/.github/ISSUE_TEMPLATE but still, relationship type-dependent such as listed in https://github.com/edamontology/edam-browser/issues/50 (Has Topic, has input, ...) are missing from the templates.

Adding such field to the template could also be used later in https://github.com/eda

[2021-03-30 12:50] matuskalas commented on #617
Thank you so much for the heads-up @bryan-brancotte, well spotted that these are missing in the issue templates! 🥇

[a good small task for newcomers, e.g. Outreachy applicants]

----

**More info about the relations between concepts in EDAM:**
 - Graphically illustrated in https://github.com/edamontology/edamontology/blob/main/EDAMrelations.png
 - Listed at https://edamontology.org/relations-and-p

[2021-03-30 13:15] AnkitaxPriya commented on #615
@matuskalas I'd like to work on it.

[2021-03-30 16:26] bryan-brancotte opened #618 "Add template for concept edition"
There are [templates](https://github.com/edamontology/edamontology/tree/main/.github/ISSUE_TEMPLATE) when proposing new terms, but none when editing. For now the edam-browser have its own template when submitting changes/creation. This template can be seen in https://github.com/edamontology/edamontology/issues/313 where only changed attribut are added in the issue.

I would propose that new templa

[2021-03-31 00:28] matuskalas commented on #618
Thanks @bryan-brancotte!

I don't think this is pure copy&pasting, it needs a bit of thinking what will be the best from the **developers'** and the **users'** (user experience) perspectives. Everyone🐱‍🚀, opinions please! Thanks! 🙏🏽

[a good small task for newcomers, e.g. Outreachy applicants] But would be great to hear some opinions from other users|contributors|maintainers too🤔

I'm personally w

[2021-03-31 02:32] leilayesufu commented on #614
Good day @matuskalas
I'd like to suggest the template for the commit message-
     # Subject or Title
    # explain why the change was made
    # explain the problem and solution(bug fixes)
    # Attach links and files
    # Other important details

[2021-03-31 07:08] bryan-brancotte commented on #618
Hi @matuskalas

_If some work start to be done in edamontology/edam-browser#27 or edamontology/edam-browser#49 I might take this issue in order to not slow done these issues, otherwise everyone go for it !_

 * It should only ask the changed attributes, in order to help curators to spot th added value of the issue
 * we need one template per type, as type-dependent relationships might soon be adde

[2021-03-31 09:49] ellschi commented on #617
I claim this issue and will take good care of it! :)

[2021-03-31 16:52] Uttam-Singhh commented on #616
Hello @matuskalas, Can you assign this task to me.
I have started working on it. I will complete it soon.

[2021-04-01 08:58] Lukong123 commented on #616
Hello @matuskalas and other applicants  please I need help i followed through the exercise and I am having a problem with line 6, I was able to commit, please do you know were I might have gone wrong?

[2021-04-01 09:24] ellschi commented on #617
Hi! So you want to add a field to this template that contains a drop down menu with choices dependent on which concept is being entered:
![image](https://user-images.githubusercontent.com/50400773/113272662-253ac100-92dc-11eb-8e14-a8f7ea7161d8.png)
If I understand how this works the code should be added to this [file](https://raw.githubusercontent.com/ellschi/edamontology/main/EDAM_dev.owl)? Can y

[2021-04-01 09:37] bryan-brancotte commented on #617
Hi @ellschi

The form you attached is from the edam-browser, the issue here is for creating a template in edamontology that will later be used by the edam browser. _(Note also that in the edam browser the type-dependent relationships such as  `has input` are already present.)_

The edition of EDAM_dev.owl is out of the scope of this issue, as curators receive issue made with templates from https:/

[2021-04-01 09:39] matuskalas commented on #617
Thank you @ellschi for claiming this task!

Not exactly (the form with the dropdown functionality is part of the https://github.com/edamontology/edam-browser tool, which is Outreachy project # 1 within EDAM).
In this task, the **relations** (**_has topic_**, **_has input_**, _etc._) need to be added to the issue templates in this repo.

The files to be editted are all the templates in https://gith

[2021-04-01 09:45] Uttam-Singhh commented on #616
I also replaced it successfully and was able to commit.
But my test failed. so maybe you are not wrong anywhere.
I think @matuskalas will guide properly on this.

[2021-04-01 11:29] drishya25 commented on #616
Hey @Uttam-Singhh!
I had followed till step 4. Can you please guide me on how and where you have completed step 5.
Thank you!

[2021-04-01 11:55] Uttam-Singhh commented on #616
Sure! @drishya25
Search in the project folder and open the file name "EDAM_dev.owl".
Also, create a new branch by using - ` git checkout -b branch_name`
then in the file search "owl: Class" now select all occurrences and replace them with "wol: Class".
Save the changes, then try to commit.

[2021-04-01 12:20] drishya25 commented on #616
Thank you so much @Uttam-Singhh !

[2021-04-01 15:38] Lukong123 commented on #616
Ok thanks

[2021-04-01 18:00] ellschi commented on #617
Commited the changes and sent pull requests... now looking forward to a review :)

But first enjoy your long weekend!

[2021-04-01 18:09] Uttam-Singhh commented on #616
Anytime @drishya25 !

[2021-04-01 23:39] benny-coy commented on #614
Hello @benny-coy. I am an Outreachy applicant and new to open source. Here is my contribution to this project.
I understand that Commits should be used to tell a story that is understandable by you and others for any future use in a concise and consistent manner.

First, the template should be divided into Title/Subject and body. The subject and body should be separated by a blank line.

Style suc

[2021-04-01 23:59] matuskalas commented on #591
Thank you enormously lot for all your well-documented requests @jonrkarr, very highly appreciated! 🙏🏽🙇🏽‍♂️

And sorry for the radio silence this winter, we were deeply concentrated on organizational stuff, including some rethinking of  the processes of working on EDAM. I try to briefly summarize some points relevant with respect to your requests:
(sorry for putting it all into this one issue conve

[2021-04-02 01:25] leilayesufu commented on #614
#I'm Leila Yesufu and here's my contribution to the project.##
.gitconfig --global commit.template~/.gitmessage
[commit]
    template = ~/.gitmessage
code ~/.gitcommit
##40 characters for the title of the commit##
Title
##40 characters for the nature of problem##
Problem
# 50 characters for solution/ changes made and why change was made and type of commit##
#please note that the commit message sho

[2021-04-02 02:12] leilayesufu commented on #615
#619 my pull request template

[2021-04-02 02:17] leilayesufu commented on #615
#README.md

[2021-04-02 03:16] leilayesufu commented on #615
#fixes leilayesufu/hello-world#615

[2021-04-02 03:16] leilayesufu commented on #615
#620

[2021-04-02 03:19] leilayesufu commented on #615
https://github.com/leilayesufu/hello-world/pull/2#issue-607768031

[2021-04-02 03:21] leilayesufu commented on #615
https://github.com/leilayesufu/hello-world/pull/2/commits/4b86e524d4fb54632d560e9166763e5ddf8ae4ad

[2021-04-03 10:09] DankamT commented on #616
I had thesame issue as @Lukong123, my test failed although I was able to commit. @matuskalas please can you guide us on this?

[2021-04-03 23:35] Sweets-NI commented on #616
hi. can someone explain step 5 and step 6 to me? how do i do about it?

[2021-04-04 01:12] Lukong123 commented on #616
Hello @Sweets-NI

- For step 5, you try creating an experimental branch using the command` git checkout -b  branch_name`
-  Then you can open the editor you prefer (in my case vs code) then you make a dummy change (that is a change that won't affect the functionality of the code like a comment)
- From your git bash you add the EDAM_dev.owl file to staging area and commit the change  using `git com

[2021-04-04 02:27] Lukong123 commented on #616
Hello please I need help in creating pull request for this issue, it keeps on showing nothing to compare entirely different commit history, I've tried troubleshooting it but I am still hook any idea @Uttam-Singhh , @matuskalas

[2021-04-04 11:55] Uttam-Singhh commented on #616
Hello @Lukong123,
Maybe you are in a different branch.
Try changing your branch.
If still, it doesn't work please check that the changes were successfully committed or not.
Also, share a screenshot so that I can help more with this.

[2021-04-04 14:46] leilayesufu commented on #618
https://github.com/leilayesufu/outreachy/commit/18474d985904c3484aede4b36b1d303179891159
done please kindly check out my code

[2021-04-04 14:49] leilayesufu commented on #618
## template for concept edition
---
Type of concept | new EDAM Operation concept
--------------|--------------------------
Operation name | Input new Operation name
Short description | Input Short description
Parent URI(s) | [link]()
exactSynonym(s) |Input exactSynonym(s)
Wikipedia | [link]()
---

*Instructions:* When editing a concept, replace the text to be edited about the concept after first r

[2021-04-04 16:39] matuskalas opened #622 "Fix pre-commit hook to read staging area, instead of / in addition to working directory"
The **pre-commit hook** at `.githooks/pre-commit` reads the `EDAM_dev.owl` file from the working directory, and not from the staging area.

This could lead to problems when an invalid `EDAM_dev.owl` file is staged, then fixed in the working directory but forgotten to stage, **then** the invalid file from the staging area can be commited.

The problem is illustrated in this history:        **(see s

[2021-04-04 18:27] matuskalas commented on #616
Apologies all for a very delayed answer.😟 And many thanks @Uttam-Singhh @Lukong123 for answering others' questions! 🙏🏽

I try to give some hints to all the problems reported. I try to answer everyone's problem there where I mention your GitHub "@" handle. However, I replied so that you can all read the whole long comment (I included examples to check out and compare with).

## Editing the source f

[2021-04-04 19:08] shreyaswikriti commented on #622
hello @matuskalas, I am an Outreachy Applicant looking for issues to solve. Can you suggest to me how to get started on this issue? I want to work on this.

[2021-04-04 19:28] DankamT commented on #616
Thanks @matuskalas, I repeated steps 5 and 6 and it returned 0 when I replaced all owl:class with wol:class
Just a tip, if you are using sublimetext text editor, use the replace all function to replace all owl:class with wol:class and vice versa
![test612](https://user-images.githubusercontent.com/32243962/113519459-41608b80-9584-11eb-897d-a3c6b50357bd.png)

[2021-04-04 19:49] pooja2299 opened #651 "Proposing redesign of logo for EDAM Ontology"
I would like to suggest an improved version of edam logo for edam-browser. I have tried to make one given below.

![image](https://user-images.githubusercontent.com/44069818/113519705-91067d80-95ab-11eb-8383-c90c09446963.png)

Need your feedback @matuskalas
PS: this is the initial version of it. Changes and suggestions are welcomed.

[2021-04-04 19:54] DankamT commented on #614
Hello @matuskalas, this a suggestion am making with regards to the commit message template. It is modification of the udacity recommended commit message template. The commit message should be sub-divided into title, subject and body

# <Title> (Separate this section from next by a newline)

#Subject line (Capitalise and use the imperative mood for this and don't end it with a dot. Max 50 char )
#

[2021-04-04 20:04] Uttam-Singhh commented on #622
Hello, @matuskalas I would also like to work on this as well, will try to find a simple solution first if it still not works then I will go for the Complex one.

[2021-04-05 06:52] Uttam-Singhh opened #623 "Not able to download the latest stable version from Readme link"
When I click on the link to download the latest stable version.
Downloading doesn't start.
P.S - I am on windows.

[2021-04-05 07:22] Uttam-Singhh opened #625 "Idea: Update the HOW_TO_EDIT.md"
We can update the HOW_TO_EDIT.md file so rather than going to Editor's Guide, all information will be available on the file itself.
At last, we can provide a link to the Editors guide (for more information).

@matuskalas What do you think?
Can I start working on this?

[2021-04-05 08:34] ellschi commented on #617
Hi! I forgot to mention that I am done... Looking forward to your feedback!

[2021-04-05 11:53] matuskalas commented on #622
Thank you for your interest @shreyaswikriti and @Uttam-Singhh! To solve this issue, you will need to:
 - know or learn some basic shell scripting (Bash)
 - find out how to read the staging area in Git

If any of this is too much of a challenge just like that, I can look for some good online guides and learning materials. But feel free to try yourselves first (or help each other) if you feel like ;

[2021-04-05 11:57] matuskalas commented on #616
Nice @DankamT! Does it also work for you this way when you try to commit?

[2021-04-05 12:05] matuskalas commented on #617
Good work @ellschi! 👍🏽 Would you now please merge those 4 pull requests into your (forked) main branch (as they are suggesting), and then create one pull request with all your changes from your main branch to the main branch at https://github.com/edamontology/edamontology?
(Does this make sense, or should I break it down a bit more?)

[2021-04-05 12:55] shreyaswikriti commented on #622
thank you @matuskalas for the guidance. I am working on it.

[2021-04-05 17:56] ellschi commented on #617
Hi @matuskalas, thank you for the feedback! I managed to merge them and created one pull request.  :tada:

[2021-04-05 18:11] shreyaswikriti commented on #622
I have gone through the articles on the internet for the solution but nothing works for me. Kindly suggest some tutorials
![Screenshot 2021-04-05 234022](https://user-images.githubusercontent.com/57635473/113608520-53b3f580-9668-11eb-82ce-b72c6240bb05.png)

[2021-04-06 15:39] crownie-hub commented on #616
I have completed the task, it returned  0 when I tried to commit the changes ; replacing the owl:Class to wol:Class

[2021-04-06 16:15] slaurie opened #627 "New format: gVCF"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Format name:**  < gVCF >

**Short description:** < genomic Variant Call Format (gVCF) is a version of VCF tha

[2021-04-06 17:24] matuskalas commented on #627
Awesome, thank you so much @slaurie!

[2021-04-06 17:29] matuskalas commented on #627
We'd like to add _Co-authored-by_ when committing this (unless you object). Would you please write which email address should be used in the commit? (It can also be the [no-reply GitHub email](https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/setting-your-commit-email-address#about-commit-email-addresses) as a private option.) Thanks! 🙏🏽

[2021-04-07 09:08] slaurie commented on #627
No problem Matúš, glad to be able to help.
You can use steven.laurie@cnag.crg.eu

[2021-04-08 10:11] ellschi commented on #617
PR is here: https://github.com/edamontology/edamontology/pull/626
Can you give me feedback on it? Thank you, @matuskalas 💐

[2021-04-08 15:30] bryan-brancotte commented on #618
Hi @leilayesufu

_answering here as the issue is related to work to be done in edam browser_

Thanks for working on this issue. I see that you posted a template for operation as a comment in a issue. Comments in issues (and pull request) are the places for "talking" on the problem we are attempting to fix while contribution should be _commit_ -ed in a pull request.

Best wishes

[2021-04-08 18:08] ellschi commented on #617
It is this PR: https://github.com/edamontology/edamontology/pull/626

[2021-04-08 18:59] leilayesufu commented on #616
good day @matuskalas after replacing all my owl:Class with wol:Class, i could still commit  and it returned 6955

[2021-04-08 21:13] DankamT commented on #616
Hi @Leila, did you use the command "git add EDAM_dev.owl"  before making
changes to the EDAM_dev.owl file?

It tells git that you are about to make changes to the EDAM_dev.owl file.
That way when you replace the owl classes with wol, it will be considered
and the commit will fail.
Please and let me know if it works for you

On Thu, 8 Apr 2021, 19:59 Leila Yesufu, ***@***.***> wrote:

[2021-04-09 01:56] leilayesufu commented on #616
Thank you very much

[2021-04-09 02:28] leilayesufu commented on #618
Thank you so much for the feedback, created a PR, it included files i didn't want in the PR, could you help me on that.
anyway, the name of the file on the pr is create fix concept template edition #631

[2021-04-09 02:53] leilayesufu commented on #615
#631 a pull request template

[2021-04-09 02:58] leilayesufu commented on #617
good day, i'd love to work on this task, am i meant to to that for all templates available or to pick just one

[2021-04-09 05:44] DankamT commented on #616
You are welcome

On Fri, 9 Apr 2021, 02:56 Leila Yesufu, ***@***.***> wrote:

[2021-04-09 14:14] albangaignard opened #632 "<Genetic variation> topic should also have <Genomics> as parent class"
**Topic name:**  < Genetic Variation >

**Parent URI(s):** < Molecular Genetics >

This topic should also have as parent class < Genomics >

(discussed with @abihouee)

[2021-04-10 01:51] CQW-Code commented on #622
I'm interested in guides and tutorials etc related to Bash scripts... don't know how far I'll get but looks interesting.

[2021-04-10 16:08] Lukong123 commented on #632
Hello @matuskalas please I'll like to know more on this issue i hope to work on it

[2021-04-10 22:10] matuskalas commented on #617
I merged the additions from @ellschi, thank you very much! 😸

@leilayesufu, would you like improve a bit the solution that has been merged from @ellschi (#626)? If yes, you can pull the updated `main` branch from https://github.com/edamontology/edamontology and make these small polishing refinements:
- I completely forgot to mention before (and it's not obvious) that _**Identifier**_ can also have

[2021-04-10 22:35] matuskalas commented on #622
There is one simple solution to the same problem here: https://danilodellaquila.com/en/blog/use-git-stash-in-your-pre-commit-hook

And these are Bash shell tutorials I like and recommend:
- [Command line essentials for Bioinformaticians](https://bcc2020cle.bioinformatics.guide/) ([Slides here](https://rpubs.com/iracooke/bcc2020cle), [Video here](https://bcc2020.sched.com/event/c7Sz/command-line-es

[2021-04-10 23:06] matuskalas opened #633 "Add user output to the pre-commit hook (good for learning basic Bash shell scripting)"
Please add text output for the user:
- error message if no `owl:Class` found
- success message otherwise (perhaps with how many times `owl:Class` was found)

to the `/.githooks/pre-commit` Bash [script](https://github.com/edamontology/edamontology/blob/main/.githooks/pre-commit).

[A good small task for newcomers, e.g. Outreachy applicants. A good issue to do first before this: #616(setup)]

----

[2021-04-11 01:47] leilayesufu commented on #617
Thank you sir
#637 #636 #635 #634

[2021-04-11 10:29] Uttam-Singhh commented on #622
Thank you so much @matuskalas !

[2021-04-12 01:58] melibleq commented on #614
Hi there, hope everyone is doing fine!
@matuskalas, could you please help me understand a little better what you expect with this task?
I've got some ideas, but I'm not sure if I should share them here, message you, or just submit a pull request with them.

[2021-04-12 02:19] melibleq commented on #633
Hey @matuskalas! I'm Melissa from São Paulo - Brazil. Currently browsing good first issues and their related ones.

I am familiar with git but not with git hooks. As far as I could understand, they somehow work as a tool to automate part of the git workflow. Please correct me if I didn't get it very well.

So, with this issue, you want the contributor to suggest an edition to the [pre-commit scrip

[2021-04-12 03:13] melibleq commented on #616
All set up here!
<details>
<summary>Click for screenshot</summary>

![Captura de tela de 2021-04-12 00-03-23](https://user-images.githubusercontent.com/16723182/114335495-447aef00-9b23-11eb-9423-ac4eb135fa4d.png)

</details>

[2021-04-12 04:41] AnkitaxPriya commented on #616
Hello @matuskalas I did all the necessary changes and currently, I'm trying to make a PR for my changes but unable to do so. Could you please guide me as to what might be a possible hindrance here?
![image](https://user-images.githubusercontent.com/44089458/114341426-60a87b80-9b77-11eb-96f0-3efd975bb1d4.png)

[2021-04-12 06:41] Jay-Fred31 commented on #616
hello @matuskalas, I have done the first 4 steps of the guide. I am now on step 5 of creating a new branch and changing all occurrences of owl to wol, but I am unable to create a new branch. Please what am I doing wrong?
<img width="716" alt="Screenshot 2021-04-12 at 07 35 25" src="https://user-images.githubusercontent.com/70653973/114351364-6778c380-9b62-11eb-945c-18ca94124008.png">

[2021-04-12 07:09] Uttam-Singhh commented on #616
Hello @AnkitaxPriya, If you did everything right you won't be able to commit those changes.
In case your commit was successful, please check If you did something wrong.

[2021-04-12 07:12] Uttam-Singhh commented on #616
Hello @Jay-Fred31, I think so it is not allowed to use whitespace in the branch name.
Try using "-" or "_" instead of whitespace.

[2021-04-12 07:18] melibleq commented on #616
Hey there @Jay-Fred31. I suppose the issue could be with the [space](https://stackoverflow.com/a/38596409) and/or quotation marks (" "). [These rules](https://git-scm.com/docs/git-check-ref-format) could also help you.

[2021-04-12 07:24] melibleq commented on #616
@AnkitaxPriya have you used `git push` before the PR?

[2021-04-12 07:50] Jay-Fred31 commented on #616
Thank you @Uttam-Singhh and @melibleq, I have sorted that out. Now trying to make an edit to commit, but the commit isn't working.
<img width="736" alt="Screenshot 2021-04-12 at 08 46 13" src="https://user-images.githubusercontent.com/70653973/114359661-1e2d7180-9b6c-11eb-883d-b2e86c274c6a.png">

[2021-04-12 07:53] Jay-Fred31 commented on #616
I see where I made a mistake. I didn't add "-m" to my commit statement. All good now.

[2021-04-12 08:09] Jay-Fred31 commented on #616
Hi @matuskalas, I think I am done with the task, kindly check this screenshot if it is all good. Also, if this is good. Kindly point me to what I should do next. Thank you

<img width="736" alt="Screenshot 2021-04-12 at 09 06 47" src="https://user-images.githubusercontent.com/70653973/114361808-82e9cb80-9b6e-11eb-8efa-54057ada709f.png">

[2021-04-12 10:29] matuskalas commented on #616
Awesome, looks great @Jay-Fred31!

[2021-04-12 11:16] AnkitaxPriya commented on #616
Thank you for the clarification @Uttam-Singhh
There are many troubles coming up whenever I make any changes or whenever I am trying to make a PR. Maybe I should fork and clone the repo and start from scratch again.

[2021-04-12 11:36] AnkitaxPriya commented on #615
@matuskalas I have made a new PR as the earlier one had some conflicts. Please check #640 once and let me know if any changes are needed. Thank you.

[2021-04-12 11:53] AnkitaxPriya commented on #616
Yes I did make a push for one of the PRs I did previously.

[2021-04-12 11:59] Uttam-Singhh commented on #616
Okay great!
The task is simple and straight you just need to follow the steps carefully. Just make sure your git version is updated(It plays an imp role).
Let me know if you face an issue!

[2021-04-12 12:01] AnkitaxPriya commented on #616
@Uttam-Singhh I don't understand why it is making a commit
![image](https://user-images.githubusercontent.com/44089458/114391302-f0b8e600-9bb4-11eb-828c-c1ea260f4eff.png)

[2021-04-12 12:25] matuskalas commented on #616
@Uttam-Singhh, thanks a lot for helping @AnkitaxPriya! 🙏🏽

@AnkitaxPriya, could you please:
- run `.githooks/per-commit`? It should show your Git version, and return 0 now that tou changed all owl:Class to wol:Class
- set up `git config core.hooksPath .githooks` as written in the instructions

[2021-04-12 12:27] matuskalas commented on #633
Hey @melibleq 😊
Indeed, I think you understood it exactly right👍🏽

[2021-04-12 12:29] AnkitaxPriya commented on #616
@matuskalas I have attached an image which shows the exact output I must get after running `.githooks/pre-commit`
![image](https://user-images.githubusercontent.com/44089458/114394267-a33e7800-9bb8-11eb-98ad-0d1a11e72380.png)

As you mentioned, I shouldn't be able to make a commit when changing `owls:Class` to `wols:Class` but I am able to make such a commit.
![image](https://user-images.githubuse

[2021-04-12 12:35] Uttam-Singhh commented on #616
@AnkitaxPriya Your git version needs to be 2.9.0 or higher for the hook to work.

[2021-04-12 12:45] AnkitaxPriya commented on #616
Thanks, Uttam-Singhh. I updated it even though it was higher than 2.9.0. :)

Well, I think that @matuskalas cleared my doubt. Initially when I ran `.githooks/pre-commit` I was retrieving the value 6955 but now after changing `owl:class` to `wol:Class` and making a commit (which was possible) and running `.githooks/pre-commit` again, I retrieved value 0.

[2021-04-12 13:41] AnkitaxPriya commented on #615
Sorry for making so many PRs, I faced some technical issues, @matuskalas. I have made a new PR as the earlier one had some conflicts. Please check #642 once and let me know if any changes are needed.

Thank you.

[2021-04-12 14:56] AnkitaxPriya commented on #614
@matuskalas I have made a PR for this issue. Kindly review #643. Thank you.

[2021-04-12 15:20] AnkitaxPriya commented on #633
May I work on this issue too @matuskalas ?

[2021-04-12 15:37] Uttam-Singhh commented on #616
Oh Great!

[2021-04-12 15:45] Uttam-Singhh commented on #633
Can I also work on this? @matuskalas

[2021-04-12 22:49] matuskalas opened #644 "Add post-commit hook (good as "my first Bash shell script" and/or "my first Git hook")"
Please add a `post-commit` file to the `.githooks` directory, which will (using a simple Bash shell script) inform the user with a nice 1-line message that the commit to EDAM was successful 😊

[A good small task for newcomers, e.g. Outreachy applicants. A good issue to do first before this: #616(setup)]

----

**Basic info about Git hooks:**
 - [Quick overview](https://coderefinery.github.io/git-c

[2021-04-12 22:56] matuskalas commented on #633
@AnkitaxPriya or @Uttam-Singhh, do you want to look at a similar (although probably easier) issue #644?

After @melibleq creates a pull request with a solution to this one, others are welcome to improve it further. 🐱‍🚀

[2021-04-13 03:12] AnkitaxPriya commented on #644
I would like to take up this @matuskalas

[2021-04-13 03:13] AnkitaxPriya commented on #633
Sure @matuskalas! 😄

[2021-04-13 03:48] AnkitaxPriya commented on #644
@matuskalas I am unable to see `post-commit.sample` here. How must I proceed?

![image](https://user-images.githubusercontent.com/44089458/114494020-3ae3ab00-9c39-11eb-87f5-9801641415f4.png)

[2021-04-13 05:30] Uttam-Singhh commented on #633
Will work on #644!
Thank you! @matuskalas

[2021-04-13 06:13] Anushka-shukla commented on #610
Hey, @matuskalas what has to be done in this issue. Is it like writing the content in the format specified above? Can you please assign this to me? What are exactSynonym and narrowSynonym can you please specify from where I can learn about these?
Thanks in advance! :)

[2021-04-13 08:26] Uttam-Singhh commented on #644
Hii @matuskalas I have also started working on this.

[2021-04-13 13:57] leilayesufu commented on #617
good day sir, i've merged them together as one in #650

[2021-04-13 14:26] bryan-brancotte commented on #651
Hi @pooja2299,

Sorry for the delay, I think EDAM logo rework should be proposed within edamontology, not just for the edam-browser (afterall the browser is not EDAM, it is only using it).

[2021-04-13 14:31] bryan-brancotte commented on #651
Proposition for reusing the logo have been made in https://github.com/edamontology/edam-browser/pull/106.

[2021-04-13 14:37] AnkitaxPriya commented on #644
@matuskalas I have made a PR #652. Kindly review and let me know if any improvements are needed. Thank you.

[2021-04-13 15:59] pooja2299 commented on #651
Thanks @bryan-brancotte for replying! I have changed the issue to proposing redesign of logo for edam ontology . So, can I work on designing the logo?

[2021-04-13 16:03] pooja2299 commented on #651
Here, the existing logo has been used and linked to the edamontology.org website.
But I would like to propose of a new design of logo which will look captivating and then linking it to edamontology.org.

[2021-04-13 20:08] pooja2299 commented on #651
Here's the sample of the logo and its link.
![image](https://user-images.githubusercontent.com/44069818/114614273-f3553180-9cc1-11eb-8aa5-88a122d84b18.png)

PS : More improvements need to be done on logo . Posting just for sample.

[2021-04-14 05:19] Lukong123 commented on #632
Hello @matuskalas I have sent a pull request but it seems to have some problems and i can't figure it out please can you help me?

[2021-04-15 00:06] melibleq commented on #627
Hi @slaurie and @matuskalas. Was this format already submitted as a proposal for a new term in the edam-browser website? If not, would you mind if I did it? Thanks!

[2021-04-15 22:55] #632 closed

[2021-04-15 22:58] matuskalas commented on #632
Thanks for finding this missing link @albangaignard & @abihouee! And thanks @Lukong123 for adding it to EDAM! 🙏🏽

[2021-04-16 08:23] gloriaumutesi commented on #644
@matuskalas Hi! I am an Outreachy applicant and have passed the initial application. I would like to contribute to this project but Permission to edamontology/edamontology.git is denied. Would u grant me permission?

[2021-04-16 14:41] Lukong123 commented on #616
Hello @matuskalas , @Uttam-Singhh , @AnkitaxPriya and other applicants.
please I am still finding difficulties with this issue well i had to go through the messages again and i found a difference between mentors code and mind please help me figure out where i went wrong
![my err](https://user-images.githubusercontent.com/70434467/115041228-2e29b600-9eca-11eb-905a-f1390d3b9556.PNG)
![teach own](htt

[2021-04-16 14:44] Lukong123 commented on #616
I ran my first commit and it went without including pre-commit  message as it is found in @matuskalas code
please i really need help

[2021-04-16 15:06] matuskalas commented on #616
@Lukong123, thanks for sharing the screenshots! Please run `git config core.hooksPath .githooks` in your local _edamontology_ repo. Then try to commit again please.

[2021-04-16 15:42] AnkitaxPriya commented on #616
Please follow the steps mentioned below:
Step 1 - Run `git config .hooksPath .githooks`
Step 2 - Make some trivial changes in the `EDAM_dev.owl` file.
Step 3 - Run `git add EDAM_dev.owl`
Step 4 - run `git commit -m "insert your commit message here"`

I'm sure these steps will help. If not, do let me know about the error you are facing.

[2021-04-16 17:38] Lukong123 commented on #616
Thanks @AnkitaxPriya but when i run git config .hooksPath .githooks i have this error
![eer2](https://user-images.githubusercontent.com/70434467/115063023-ee22fd00-9ee2-11eb-9fda-8d9de0db2289.PNG)

[2021-04-16 17:39] matuskalas commented on #616
Please write `core.hooksPath`

[2021-04-16 17:48] Uttam-Singhh commented on #616
Hello @Lukong123 you can refer to this also, Everything is there including commands(you can copy-paste the commands to decrease errors)- https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#git-setup-on-your-local-machine

[2021-04-16 17:51] Lukong123 commented on #616
please @matuskalas it returns command not found

[2021-04-16 17:54] Lukong123 commented on #616
Thanks @Uttam-Singhh

[2021-04-16 17:56] Lukong123 commented on #616
@matuskalas  please is it necessary to update git to 2.9 or higher for things to work for my git version is almost same with yours
git version 2.29.2.windows.1

[2021-04-16 18:32] AnkitaxPriya commented on #616
@Lukong123 Your git version needs to be 2.9.0 or higher for the hook to work.
If you are using windows update your git by using this command  `git update-git-for-windows`

After you update it, please follow this https://github.com/edamontology/edamontology/issues/616#issuecomment-821265781

I hope it will work after that.

[2021-04-16 18:44] matuskalas commented on #616
2.9 is definitely higher than 2.29, that shouldn't be the problem.

Please run `git config core.hooksPath .githooks` inside the _edamontology_ repo, and let is know what happens

[2021-04-16 22:07] matuskalas commented on #614
Sorry, off-topic this issue:
@shaonakundu

Would you like to fix edamontology/edam-bioimaging#24?

[2021-04-17 02:40] Lukong123 commented on #616
thanks alot @matuskalas it worked
![working](https://user-images.githubusercontent.com/70434467/115099556-99a56f00-9f2e-11eb-94d4-c78bfc8804d5.PNG)

[2021-04-17 03:36] AnkitaxPriya commented on #644
@matuskalas kindly check #658, I have made the necessary changes for my PR.

[2021-04-17 04:19] AnkitaxPriya commented on #615
@matuskalas I have made a PR #659 for this issue. Very sorry for the previous fuzz while making PR. This time, I successfully made a very clean PR for the given issue.
I would be grateful if you kindly review and let me know if any improvements are needed in this template. 🙏
Thank you.

[2021-04-17 17:03] mercybassey commented on #616
i successfully made my dummy change
![Screenshot from 2021-04-17 18-02-02](https://user-images.githubusercontent.com/57226464/115120790-37d51b80-9fa7-11eb-99d9-91b9f48ed1ab.png)

[2021-04-17 22:55] sarkar-ly commented on #616
![Screenshot (2)](https://user-images.githubusercontent.com/65134563/115128760-c1173d00-9ffd-11eb-9439-bd395209a146.png)
I'm able to make commit despite following each and every step. Where is it going wrong? And this is the updated version..

[2021-04-18 08:27] AnkitaxPriya commented on #616
@sarkar-ly please follow the steps mentioned [here](https://github.com/edamontology/edamontology/issues/616#issuecomment-821265781) to resolve your issue. Make sure you make an experimental git branch to make the changes (Even though you don't, it's fine. But it's a good practice to work on a branch )
In case if you face some problems, please let me know. I'd be happy to help.

[2021-04-18 08:34] sarkar-ly commented on #616
![Screenshot (3)](https://user-images.githubusercontent.com/65134563/115139258-740f8700-a04e-11eb-8aeb-ecbf234d058e.png)
Thanks @AnkitaxPriya, I tried it again from the scratch and it worked.

Here's the screenshot for please check if it's alright@matuskalas

[2021-04-18 08:43] sarkar-ly commented on #616
If it worked then let me know the next step, thanks

[2021-04-18 08:48] AnkitaxPriya commented on #616
Glad to help @sarkar-ly 😊

[2021-04-18 13:49] matuskalas commented on #616
@mercybassey, the `pre-commit` script did not run in your repo. Please set it up by `git config core.hooksPath .githooks` inside your repo.

@sarkar-ly, looks great!👍🏽

[2021-04-18 15:19] sarkar-ly commented on #616
I've pushed the changes to GitHub. Kindly check if it's the right
Thank you.

[2021-04-18 18:05] pooja2299 commented on #651
Another design improvement for logo

![image](https://user-images.githubusercontent.com/44069818/115155719-c24c7680-a09e-11eb-9a32-21904f67384e.png)

[2021-04-18 20:58] ZM202 commented on #616
Hi @matuskalas I'm trying this out and I made minor change to the date/time but when I tried to add there is nothing to commit.

![image](https://user-images.githubusercontent.com/48497724/115160544-c3fa4800-a066-11eb-8092-fdb230f83506.png)

I already did `git config core.hooksPath .githooks` and also created an experimental branch. I also tried to change from `owl:Class` to `wol:Class` I'm still

[2021-04-18 22:27] matuskalas commented on #616
@ZM202 this sound mysterious indeed. Please try with `git status` to see which files are changed, and which are staged

[2021-04-19 00:05] ZM202 commented on #616
@matuskalas I'm not even sure why it isn't working. I tried git status and I was getting this message...

![image](https://user-images.githubusercontent.com/48497724/115166421-04ff5600-a081-11eb-9bf3-0d7871ff168b.png)

I went through adding process anyways even when there wasn't any change to see if will be different. I also try `git log` I'm not seeing the changes I made. This was the latest chan

[2021-04-19 17:02] sarkar-ly commented on #616
@ZM202 did you stage the file you want to make changes to using git add? Otherwise, try making a new branch and follow the steps once again.

[2021-04-19 17:04] Leena1666 commented on #627
can I work on this ?

[2021-04-19 17:58] matuskalas commented on #627
@melibleq please don't, that would just create a new issue like this one.

@Leena1666 and @melibleq, would you please try - either in parallel or one after the other helping each other - to implement this in the `EDAM_dev.owl` file? Please include it underneath the last EDAM format (with URI in form http://edamontology.org/format_XXXX). You can leave the URI of this new concept as XXXX, it will be

[2021-04-19 19:21] ZM202 commented on #616
hi @sarkar-ly I just ended up creating another branch. I now have 2 branches. But the 2nd one works. I don't think we need to do PR, correct? Thanks.

[2021-04-19 22:02] matuskalas commented on #651
Nice proposals, highly appreciated! 🙌🏽

I created a new repo for collecting all the proposals of a logo _etc._. Please fork https://github.com/edamontology/logoi, add file(s) with your suggestion(s), and create PR(s). Million thanks!! 🙏🏽

[2021-04-19 22:22] matuskalas commented on #616
@sarkar-ly @ZM202 no need to create a PR for this "setup" task, unless you want to 😊
(even without a PR, we can follow your progress in your fork)

@ZM202: a general hint is to use `git status`, often, to see what changes are in the working tree and staging area of your repo.

[2021-04-20 00:04] melibleq commented on #627
Sure, thank you as well! I'll start working on it. @Leena1666, were you able to set up a copy of the repository in your computer? I'm also a beginner here, but I would be glad to try to provide help in case you face any issues.

[2021-04-20 00:45] melibleq commented on #627
Here's a question: the Editors Guide [section](https://edamontologydocs.readthedocs.io/en/latest/editors_guide.html#id12) about Formats says file extensions "MUST NOT include period (‘.’), e.g. 'txt' not '.txt'". But this one has periods "in the middle" of it (g.vcf and g.vcf.gz). Should we remove those periods too when editing the `EDAM_dev.owl` file?

[2021-04-20 00:52] matuskalas commented on #627
Nope, please leave them in, thanks 🙇🏽‍♂️

[2021-04-20 00:54] ZM202 commented on #616
@matuskalas Thanks. I was unsure as to what went wrong. I'm going backward doing #616 later on. I did PR for #25 fine but for some reason for this one, it kept doing nothing to commit. I just ended up creating another testing branch and did add & commit. All set for now. Thanks again.

[2021-04-20 02:01] melibleq commented on #627
I've just made a [draft pull request](https://github.com/edamontology/edamontology/pull/662/files) for this issue. A couple observations:
- Judging by previous Format additions to `EDAM_dev.owl`, OWL attributes `<documentation>` and `<example>` don't seem to be using `rdf:resource=` when we add website URLs, so I have simply provided the corresponding URLs to those attributes.
- I've created a new

[2021-04-20 05:38] sarkar-ly commented on #616
Thanks for clarifying @ Matus kalas

[2021-04-21 04:24] Lukong123 commented on #614
Hello @matuskalas,  @AnkitaxPriya and other applicants please can you people help me with creating pull request for this issue cause I am facing difficulties.
I used ` git config --global commit.template ~/.gitmessage` on git bash and then used `code ~/.gitmessage
`  under a branch on my cloned edamontology repo when i use ` code ~/.gitmessage
` it opens my editor but the path there is not include

[2021-04-21 04:39] melibleq commented on #614
Hi @Lukong123. Perhaps it would be a little easier to visualize what's going on with a screenshot of your script. You can drag and drop the image here in the comment box.

I don't fully understand your question about the path. Could you please detail it a little bit more?

[2021-04-21 04:47] Lukong123 commented on #614
ok @melibleq
![temerr1](https://user-images.githubusercontent.com/70434467/115498141-e6f24b00-a264-11eb-89bb-1e7cafbaa918.PNG)
![temvserr2](https://user-images.githubusercontent.com/70434467/115498226-1b660700-a265-11eb-8216-1842dd69fa79.PNG)

[2021-04-21 04:50] Lukong123 commented on #614
after writting my template when i check git status it shows working directory clean , problably because the path editor is not even under edamontology folder but i wonder why since i ran the code under my edam directory

[2021-04-21 05:04] melibleq commented on #614
Thanks for the screenshots! Now I can see more clearly what's going on. Maybe [this link](https://stackoverflow.com/questions/21998728/how-to-specify-a-git-commit-message-template-for-a-repository-in-a-file-at-a-rel) could help you?
I've also come across [this Git documentation page](https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration) that could be useful.
I'm sorry if you have alrea

[2021-04-21 09:36] Lukong123 commented on #614
Thanks alot @melibleq let me go through it please i'll get back to you if i encounter any difficulty

[2021-04-21 10:12] Lukong123 commented on #614
Hello, @matuskalas, @melibleq and other applicants please checkout my pull request and tell me what to rectify there #663

[2021-04-21 15:00] #644 closed

[2021-04-26 21:41] matuskalas opened #665 "Update NCBO BioPortal links to include ?p=classes"
I think it'll be great to update most of the links to browsing EDAM in the NCBO BioPortal from https://bioportal.bioontology.org/ontologies/EDAM to https://bioportal.bioontology.org/ontologies/EDAM?p=classes. In most of the places, it makes sense to point to **browsing** (_i.e._ the "Classes" tab, `?p=classes`), instead of the default "Summary" tab.

Way forward: Search for all links to https://bi

[2021-04-26 21:46] bryan-brancotte opened #666 "Release of the logo"
Hi,

Once a logo has been selected, where will it be released ?

I propose that it is shared in https://github.com/edamontology/edamontology next to `EDAMrelations.png`, named `EDAM.svg`

[2021-04-26 22:31] matuskalas opened #667 "Replace oboInOwl:comment with rdfs:comment"
Please replace all `oboInOwl:comment` with `rdfs:comment` in `EDAM_dev.owl`.

(A good short mini-task for newcommers, new Outreachy applicants welcome! 😺)

[2021-04-27 00:11] matuskalas commented on #610
(A good small task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#how-to-add-a-new-concept. Please make sure to:
- Not add the **comment**, that's just an information important in this issue.
- Please make sure to add `Co-authored-by: Mads Kierkegaard <40895049+Kigaard@users.noreply.gi

[2021-04-27 00:15] matuskalas commented on #609
(A good small task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#how-to-add-a-new-concept. Please make sure to:
- Not add the **comment**, that's just an information important in this issue.
- You can add more synonyms, as in the Wikipedia page.
- Please make sure to add `Co-authored-

[2021-04-27 00:29] matuskalas opened #668 "Make all Wikipedia links to rdfs:seeAlso"
Links to Wikipedia are usually encoded in the `EDAM_dev.owl` file in the form of
[code]

Sometimes these use different attributes, or are encoded without the `rdf:resource=""`. Those could all be fixed so that they are all the same. (Unless there is in some special cases a good reason for not doing so. 🤔)

(A suitable small task for a newcomer, including Outreachy applicants! 🌻)

[2021-04-27 00:40] matuskalas commented on #611
(A good small task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#how-to-add-a-new-concept. Please make sure to:
- Not add the file extension and media type, these are "inherited" from the "parent" super-concept.
- `documentation` should rather be the more specific link (**Specificatio

[2021-04-27 00:44] jonrkarr commented on #611
The group that manages it is the PE Tab editors -- the original developers plus a couple of others. The website for the "organization" and format are the same.

[2021-04-27 00:58] matuskalas commented on #595
(A good small or medium task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#how-to-add-a-new-concept. Please make sure to:
- Not add the file extension, this is "inherited" from the "parent" super-concept.
- `documentation` should rather be the more specific link (**Specification**)
-

[2021-04-27 01:06] matuskalas commented on #611
Thanks for the clarification! I think in this case we don't need to record it additionally as `organisation` in EDAM. That attribute is mostly for the special cases of institutionalized standards organizations|consortia that govern a set of formats (like _e.g._ HUPO PSI).

[2021-04-27 01:12] jonrkarr commented on #595
PyTables is a specific schema for encoding data into HDF5.

I don't believe there's a distinct organization that manages PyTables.

I don't think there's a Wikipedia page for PyTables. PyTables is mentioned on the Wikipedia page for HDF5.

There is a previous version of HDF: HDF4. I don't know how common that is. HDF5 is almost 20 years old.

Media types for HDF: application/x-hdf, application/x-h

[2021-04-27 06:43] Kigaard commented on #610
I have made my "real" e-mail address public `mads.k@live.dk` which can be used instead of the Github-issued one.

Thanks :smiley:, and sorry for the inconvenience :sweat_smile:

[2021-04-27 06:43] Kigaard commented on #609
I have made my "real" e-mail address public `mads.k@live.dk` which can be used instead of the Github-issued one.

Thanks :smiley:, and sorry for the inconvenience :sweat_smile:

[2021-04-27 08:58] matuskalas commented on #610
Thank you @Kigaard🙏🏽 I replaced your no-reply GitHub email `40895049+Kigaard@users.noreply.github.com` with this one `mads.k@live.dk` in the [comment above](https://github.com/edamontology/edamontology/issues/610#issuecomment-827218734).

[2021-04-27 08:59] matuskalas commented on #609
Thank you @Kigaard🙏🏽 I replaced your no-reply GitHub email `40895049+Kigaard@users.noreply.github.com` with this one `mads.k@live.dk` in the [comment above](https://github.com/edamontology/edamontology/issues/609#issuecomment-827219865).

[2021-04-27 12:23] bryan-brancotte commented on #666
Hi @matuskalas,

I agree with you, we should first set up the old logo, and later update it.

Where can the logo be found ? I can only find it at https://avatars.githubusercontent.com/u/7922809?s=200&v=4

[2021-04-27 14:10] matuskalas opened #669 "Test|set up Gitpod to edit the EDAM repo online"
This is a great very first issue for all newcomers and **everyone** who wants to edit the "source code" of EDAM, but without using Git locally. 🐙 (Outreachy applicants are welcome to contribute here! 🌞)

💻 Working with Gitpod requires a reasonably good internet connection, and a reasonably up-to-date web browser. **Optional: Please try** if it works on phones📱, on vintage hardware💾, or with unstab

[2021-04-27 15:03] matuskalas opened #670 "Improving the content of EDAM (without Git, for 👩🏽‍🔬🩺🧘🏽‍♂️👩🏽‍🎓🐱‍👓)"
This is a "container", general issue for improving the EDAM ontology. **Without using Git**, friendly also to non-tech-geeks.👩🏽‍💻
We will extremely appreciate if biologists👩🏽‍🔬, MDs🩺, citizen scientists🧘🏽‍♂️, other scientists👩🏽‍🏭, and learners👩🏽‍🎓 (that is everone🙌🏽) contribute this way: **Your view is the most important!!!🥇**

Contributions can be done by posting comments to EDAM concepts in the

[2021-04-27 16:08] matuskalas opened #671 "Reading EDAM with Python 🐍 (possible also without Git)"
This is an exercise task (small to medium) to test **reading and writing** of EDAM in Python🐍 Great for Outreachy applicants if interested! 🙌🏽

A good learning exercise for both beginners in Python and more advanced coders👍🏽 Solutions can be submitted to this issue thread (links, screenshots, code snippets), and **everyone who wants can participate**, with either own solution or improving or helpi

[2021-04-27 16:54] melibleq commented on #668
Hi there! I've made the suggested changes and also the ones on issue #667 and pushed the commit to my remote branch. However, I'm still facing those issues with accumulated commits from the past 😬

I'll keep studying and try to understand what's going on once again. In any case, changes are done!

[2021-04-27 16:58] melibleq commented on #671
I'd like to try this one! 😁

[2021-04-27 17:39] matuskalas opened #672 "Project timeline for Outreachy"
**This issue documents the hints for creating a project timeline for the Outreachy applicants.**

The project timeline will start with the onboarding tasks including:

- A chosen set of "good first issues" which the applicant hasn't finished already during the application period
- Getting familiar with the community; getting familiar with the minimum basics of open science, biology, open source bi

[2021-04-27 18:23] sarkar-ly commented on #669
I tried doing the first and second step but it doesn't grant me access@matus kalas

[2021-04-27 19:45] Lukong123 commented on #668
accumulated commit how? I might be able to help

[2021-04-27 19:51] Lukong123 commented on #668
Hello @matuskalas I am going through the EDAM_dev.owl file and yes there are some links that don't have `rdf:resorce=""` now how do we know if some of this instances are unique and have to be maintained?

[2021-04-27 19:53] Lukong123 commented on #671
wow it sounds interesting!

[2021-04-27 19:58] matuskalas commented on #669
@sarkar-ly, have you tried with your fork https://gitpod.io/#https://github.com/sarkar-ly/edamontology, using your GitHub account to sign in to Gitpod?

[2021-04-27 20:00] sarkar-ly commented on #669
Yes I did...I'll try again

[2021-04-27 20:05] matuskalas commented on #669
😢 Hmm, I have no idea what the problem could be

[2021-04-27 20:28] #667 closed

[2021-04-27 20:32] matuskalas commented on #668
@melibleq: Creating new feature branches from the `main` branch would have been the solution.

@Lukong123

I'm sorry, I don't understand your question. Would you mind elaborating a bit? Thanks!🙏🏽

[2021-04-27 20:35] melibleq commented on #668
Like [here](https://github.com/edamontology/edamontology/compare/main...melibleq:changes-edam-owl). I don't want to pull all those commits this time and can't get rid of them!

[2021-04-27 22:22] ZM202 commented on #671
Is this for one person task @matuskalas? I would like to give it a try but if it is just for one person then it is ok. Thanks.

[2021-04-27 23:07] matuskalas commented on #671
Thank you so much for your interest @melibleq @Lukong123 @ZM202, that's awesome!😸👍🏽
**Everyone can contribute to this task!** (therefore I'm not assigning anyone)
BUT: Please submit your final applications first if you haven't done so already, that's more urgent😉

[2021-04-27 23:22] ZM202 commented on #671
Hi @matuskalas If we haven't finish the task, should we include it in the final application? Thanks.

[2021-04-28 04:27] Lukong123 commented on #668
Some wikipedia links are encoded without the `rdf:resource='""`  so should make sure that all of them have the 'rdf:resource=""`  included in the link? My worry was this statement "Unless there is in some special cases a good reason for not doing so" so I'm asking if it should be change whether or not there is a special reason for omitting  'rdf:resource=""`

[2021-04-28 04:42] Lukong123 commented on #668
Hello @melibleq I wonder what might be the problem especially the message when you click on a commit that says "This commit does not belong to any branch on this repository"... where as you do have branches.
Please try checking out this link even though you might have gone through them already.
https://replit.com/talk/ask/Following-commit-Github-shows-This-commit-does-not-belong-to-any-branch-on-t

[2021-04-28 09:34] uludag commented on #172
I thought EDAM entry for the _biom_ format could be improved.

Its [python package](https://github.com/biocore/biom-format) defines the format as follows:

Definition page for the [latest version of the format](http://biom-format.org/documentation/format_versions/biom-2.1.html) says the format is based on HDF5, which I find a bit confusing.

EBI MGnify project is making the results of taxonomic an

[2021-04-28 12:12] Lukong123 commented on #668
Hello @matuskalas  please can you explain a little more on this

[2021-04-28 13:26] matuskalas commented on #172
Thank you for the heads-up @uludag! I'm reopening it and we'll look at it👍🏽

[2021-04-28 13:50] matuskalas commented on #671
@ZM202, yes😊 If you mean adding to your timeline, then yes! If you mean adding as a contribution onto the Outreachy website, then also yes! 😸

[2021-04-28 14:13] ZM202 commented on #671
Thanks @matuskalas

[2021-04-28 16:52] Babsbarokah commented on #666
Hello

This gives me a clearer view of some of the end goal of the logo.

If I get you right, @matuskalas a PR should be made to add the old logo to the repo https://github.com/edamontology/edamontology.org?

I'd like to take it up

[2021-04-28 17:10] matuskalas commented on #666
Awesome, thank you @Babsbarokah! Please take the http://edamontology.org/favicon.ico and add it there as `favicon.ico`. 🙏🏽

[2021-04-29 03:52] AnkitaxPriya commented on #672
It all sounds very exciting!
Thank you for clarifying all the doubts @matuskalas 🙏
I shall be completing my final application today.

[2021-04-29 04:04] AnkitaxPriya commented on #671
@matuskalas do we need to add all the projects in our contribution to Outreachy website even if we have not completed the task yet?

[2021-04-29 04:13] AnkitaxPriya commented on #669
@matuskalas In the 3rd step, do we need to add `post-commit` hook in the `.githooks` folder? I tried to do so but wasn't able to push the code. I have attached the screenshot for reference.

![image](https://user-images.githubusercontent.com/44089458/116501805-68825280-a8cf-11eb-9232-d776e4aa05d6.png)

[2021-04-29 04:19] AnkitaxPriya commented on #669
@matuskalas in the 4th task, I was able to commit a change but did not receive the message `Yay! Your commit to EDAM Ontology was successful.` I suppose this could probably be because I have been working on an older version of the `edamontology` repo which isn't updated with the `post-commit` hook.

I have added the screenshot for reference.

![image](https://user-images.githubusercontent.com/4408

[2021-04-29 04:23] AnkitaxPriya commented on #669
@matuskalas the 5th task was successful for me. I have attached the screenshot for reference here.
![image](https://user-images.githubusercontent.com/44089458/116502276-b3509a00-a8d0-11eb-951f-85382f4d235e.png)

[2021-04-29 07:22] sarkar-ly commented on #669
Did this URL work for you? https://gitpod.io/#https://github.com/<GitHub-username>/edamontology @ankitaxpriya

[2021-04-29 10:39] Babsbarokah commented on #666
Done

[2021-04-29 10:58] bryan-brancotte commented on #666
Hi @matuskalas @Babsbarokah, I already proposed the old logo with #672 yesterday, I should have mentioned it here. The rectangle logo and the favicon are still missing although.

[2021-04-29 12:02] AnkitaxPriya commented on #669
Yes @sarkar-ly it worked for me. In your case, use the link https://gitpod.io/#https://github.com/sarkar-ly/edamontology
Make sure you have forked the repo on your GitHub space already.

[2021-04-29 12:05] matuskalas commented on #671
It's definitely good if you add also the contributions that aren't finished yet! 👍🏽

[2021-04-29 12:10] AnkitaxPriya commented on #669
@matuskalas Do I need to create a separate issue to work on to "add a Gitpod configuration YAML file to the EDAM repository" or can I link the file to this issue only?

[2021-04-29 12:17] AnkitaxPriya commented on #671
Thank you for the clarification @matuskalas, will follow that way. 😊

[2021-04-29 12:21] ZM202 commented on #671
Hi @matuskalas you're correct. I left it blank in the entry for the accepted/merged. Thanks for confirming.

[2021-04-29 12:35] matuskalas commented on #666
@Babsbarokah includes the favicon to the edamontology.org repo, so that complements your PR to this repo @bryan-brancotte 👍🏽
(@Babsbarokah I added a comment to your commit in your fork)

[2021-04-29 12:45] AnkitaxPriya commented on #670
@matuskalas is this issue similar to issue https://github.com/edamontology/edam-bioimaging/issues/28#issue-868920268 ?

[2021-04-29 15:12] Babsbarokah commented on #666
Seen, thanks.

[2021-04-29 15:36] sarkar-ly commented on #669
Thanks @ ankitaxpriya..I used the same URL but it didn't but I tried again and this time it worked

[2021-04-29 16:12] sarkar-ly commented on #669
Committed the changes but receive the message as told by ankitaxpriya
![Screenshot (5)](https://user-images.githubusercontent.com/65134563/116583104-a0bb7c80-a933-11eb-8835-3799810dd5b1.png)
![Screenshot (6)](https://user-images.githubusercontent.com/65134563/116583186-b4ff7980-a933-11eb-8dd4-f336bb209e72.png)
attached the screenshot...is it okay or do we need changes

[2021-04-29 17:29] anita0707 commented on #670
@matuskalas  please clarify on the difference between this task and https://github.com/edamontology/edam-bioimaging/issues/28 ,as they seam quite similar

[2021-04-30 07:20] sarkar-ly commented on #668
Is it alight@ matus kalas? ALso i"ve committed the changes on new branch
![Screenshot (8)](https://user-images.githubusercontent.com/65134563/116661766-955b6600-a9b2-11eb-9709-5808c9224a45.png)

[2021-05-02 17:18] AnkitaxPriya commented on #665
Hello @matuskalas is this issue still open? I'd like to work on this.

[2021-05-02 17:20] AnkitaxPriya commented on #633
Hello @matuskalas, since nobody worked on this issue, may I work on this? I am interested to contribute.

[2021-05-02 19:06] melibleq commented on #633
Hi @AnkitaxPriya! I have worked on it [here](https://github.com/edamontology/edamontology/pull/661). Please feel free to review it and add your comments or ideas, if you want to!

[2021-05-02 23:05] Lady-Precious opened #681 "EDAM contribution guide document, for contributions with and without Github"
Seeing how difficult it was for some of us to contribute to the EDAM ontology project especially without Github, there is need for a single document that would show steps on how to contribute with and without Github. This document would include the steps and all the necessary URLs (e.g links to the readme, contribution.md, EDAM browser, etc) so a contributor wouldn’t have to get confused navigatin

[2021-05-02 23:14] tawahpeggy commented on #681
Okay @Lady-Precious thanks alot for the insight.
Will be needing more feedback as the work unfolds.i will keep you posted.
Thanks.

[2021-05-03 00:22] matuskalas commented on #681
This is an extremely valuable point @Lady-Precious, thank you🙏🏽
My idea has been that CONTIBUTING.md is exactly that kind of document, accessibly explaining all the options. But obviously it's not good enough. Do you have some ideas how to improve it? That would be super highly appreciated!🙇🏽‍♂️

[2021-05-03 00:36] Lady-Precious commented on #681
Hi Matus, I created this document that has a step-by-step approach on how
to contribute to the EDAM Ontology project with or without Github.
I believe it would make contributions a lot easier, here is the link to the
document.
https://docs.google.com/document/d/1py6fzhm-spF2PqX0gxxxEl2AWaNvKABHA_uQCt4hplA/edit?usp=sharing

On Mon, May 3, 2021 at 1:22 AM Matúš Kalaš ***@***.***> wrote:

[2021-05-03 00:40] matuskalas commented on #681
Thank you, I'll check it out🙏🏽

And million thanks for your notes on BioPortal @Lady-Precious, I agree with all of them, we should definitely add them asap👍🏽

(Completely optional: In case you would feel like and would have time, sooner or later, we could help you adding them into the OWL file, using Git then (if not locally on your device, then possibly online using Gitpod or another such service

[2021-05-03 00:57] Lady-Precious commented on #681
Now that I have understood the EDAM Ontology project I would definitely
make more contributions where necessary, and yes I do feel like and have
the time but I do not know how to access the owl file format on my device.
I'd appreciate any resources to learn that, and probably add it to the
contribution document in case another contributor has the same challenge.

On Mon, May 3, 2021 at 1:40 AM Mat

[2021-05-03 04:11] drashti171299 commented on #665
@matuskalas  I would like to contribute on this issue.

[2021-05-03 12:17] matuskalas commented on #665
Awesome, please check it out👍🏽

[2021-05-03 12:26] drashti171299 commented on #665
Hey @matuskalas  I want to know that from where I can get the source code to edit or I can directly use this repository code.
Also specify which file do I need to edit

[2021-05-03 12:34] drashti171299 commented on #665
I have searched in this repository but it is showing in READ.md file only

[2021-05-03 13:30] bryan-brancotte opened #682 "Add community channel, logos, repo in owl file"
Following a suggestion made in https://github.com/edamontology/edam-browser/issues/77, adding link to the gitter, the logo, the repo, ... could help setting up automatically an instance for https://github.com/edamontology/edam-bioimaging, but also building the interface of the edam-browser more generically.

[code]

[2021-05-03 17:49] AnkitaxPriya commented on #681
@matuskalas and @Lady-Precious I'd be glad to contribute my part to this issue.
I can help with the required additions into the OWL file using Git.

[2021-05-04 15:03] Uttam-Singhh commented on #609
Hi, @matuskalas I would love to give it a try and work on this issue.

[2021-05-04 15:13] AnkitaxPriya commented on #610
Hello @matuskalas, I'd like to work on this issue.

[2021-05-04 15:14] AnkitaxPriya commented on #611
Hi @matuskalas, I'd like to work on this issue.

[2021-05-04 15:53] matuskalas commented on #609
Awesome, thank you so much @Uttam-Singhh 🙏🏽 I hope the instructions will be helpful 😸

[2021-05-04 15:54] matuskalas commented on #610
Awesome, thank you @AnkitaxPriya 🙏🏽

[2021-05-04 16:00] sarkar-ly commented on #609
If possible can I also participate and contribute to it?

[2021-05-04 16:37] AnkitaxPriya commented on #610
@matuskalas do I need to edit `<oboInOwl:inSubset rdf:resource="http://purl.obolibrary.org/obo/edam#edam"/>` and  `<oboInOwl:inSubset rdf:resource="http://purl.obolibrary.org/obo/edam#topics"/>`  as well? There are no information given as to what values/links must be added here. I have added the screenshot for your reference.

Kindly also clear where must I add the co-author's details.

![image](h

[2021-05-04 17:39] matuskalas commented on #610
Just please leave it as in the template, both #edam and #topics. This is some historical obsolete stuff, but we keep it for now.

1.26

Delete please if no values.

Looks great! 👍🏽

- Please just remove the second topic_... and the whole rdfs:comment
- And the start and end spaces in the label & synonyms
- Instead of the `|` in synonyms, please make separate lines with corresponding XML elements f

[2021-05-04 17:40] matuskalas commented on #609
@sarkar-ly you can, but you can also grab another issue, such as #611, if you want.

[2021-05-04 18:07] matuskalas commented on #665
@drashti171299 please search for _e.g._ `bioportal.bioontology.org` in the GitHub search box up left (the default option 'In this repository'). I can see that there are 2 hits in README which could be fixed.

[2021-05-04 19:48] AnkitaxPriya commented on #595
@matuskalas this seems interesting to me. I'd like to work on this.

[2021-05-04 19:52] AnkitaxPriya commented on #611
I have already worked on issue #610, would you assign this task to me?

[2021-05-05 03:39] drashti171299 commented on #665
I have fixed it @matuskalas

[2021-05-05 11:07] matuskalas commented on #607
(A good small task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#how-to-add-a-new-concept. Please make sure to:
- Please put a second "Parent class" http://edamontology.org/topic_3382 (Imaging), in addition to topic_3300 (Physiology).
- Please make sure to add `Co-authored-by: Mads Ki

[2021-05-05 12:02] drashti171299 commented on #607
I would like to work on this issue. @matuskalas  I will figure out ad ask you if I have any question or not

[2021-05-05 13:13] matuskalas commented on #607
Awesome, thanks @drashti171299👍🏽

[2021-05-05 15:49] #665 closed

[2021-05-05 16:31] matuskalas commented on #668
This has been partially fixed in #679.
Remaining are Wikipedia links stored as `documentation`,
which is correct in some Formats (needs a human check of all those),
but not correct elsewhere: Data, Operations, Topics.
Where there is the same link as both `rdfs:seeAlso` and `documentation`, only one of them should be left (human check in Formats; and keeping only `rdfs:seeAlso` in Data, Operation,

[2021-05-05 19:05] sarkar-ly commented on #668
https://github.com/edamontology/edamontology/pull/678/commits/9fe70d919f7445142cf522a17acb8a538ab77d99
@matuskalas, kindly check if it's alright or do I need to do it all over again

[2021-05-05 19:13] sarkar-ly commented on #609
Sure thanks @matuskalas

[2021-05-06 12:08] Uttam-Singhh commented on #609
Hello @matuskalas,
Please check the PR.
Let me know if there are any changes required.
Thank You!
Sorry for taking extra time to work on this.🙏🏽

[2021-05-06 21:12] #610 closed

[2021-05-07 05:58] Kigaard opened #687 "Cryogenic electron microscopy"
**Topic name:**  < Cryogenic electron microscopy >

**Short description:** < A method for studying biomolecules and other structures at very low (cryogenic) temperature using electron microscopy. >

**Parent URI(s):** < http://edamontology.org/topic_0611 >

**exactSynonym(s):** < cryo-EM >

**narrowSynonym(s):** < >

**Wikipedia:** < https://en.wikipedia.org/wiki/Cryogenic_electron_microscopy >

*

[2021-05-07 20:25] matuskalas opened #688 "Test again hooks in GitHub Desktop"
There were multiple issues on Windows before.

One of the issues was with line endings, see comments in 7aeb851. Related to binary vs. text, and merging|cherry-picking.

[2021-05-08 11:11] drashti171299 commented on #607
@matuskalas  what would be the content in narrow symptoms?

[2021-05-08 11:59] drashti171299 commented on #608
@matuskalas have you added this term? or is it pending?

[2021-05-08 12:11] drashti171299 commented on #595
@matuskalas anyone is working on this issue?

[2021-05-08 12:12] drashti171299 commented on #607
@matuskalas I have made a  PR for this. Have a look at it.

[2021-05-08 22:36] matuskalas commented on #608
Oops, I totally overlooked this, sorry everyone.

[2021-05-08 22:42] matuskalas commented on #608
(A good small task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/edamontology/blob/main/CONTRIBUTING.md#how-to-add-a-new-concept. Please make sure to:
- Please put a second "Parent class" http://edamontology.org/topic_3382 (Imaging), in addition to topic_3300 (Physiology).
- Please make sure to add `Co-authored-by: Mads Ki

[2021-05-08 23:28] matuskalas commented on #687
Thank you @Kigaard for this addition! This is indeed better than what we have so far in EDAM-bioimaging, so let's add it to mainstream EDAM first (then it's also soon usable in @bio-tools). And let's improve this & related concepts in EDAM-bioimaging later.

(A good small task for a newcomer, including Outreachy applicants!)

For a guide how to proceed, please read https://github.com/edamontology/

[2021-05-09 03:33] drashti171299 commented on #608
Yes @matuskalas I would like to fix it :)

[2021-05-09 05:10] drashti171299 commented on #608
@matuskalas I have done this and already made a PR for this. Have look at that 😊.

[2021-05-09 05:15] drashti171299 commented on #687
I would like to take initiative and add this to the content.

[2021-05-09 05:25] drashti171299 commented on #613
this is done @matuskalas ??

[2021-05-09 12:22] matuskalas commented on #687
Awesome, thank you @drashti171299! 😊

[2021-05-09 12:27] matuskalas commented on #682
This will indeed be very nice to add!👍🏽

@albangaignard would you please advise on which are the most standard Semantic Web attributes for a **source code repository** and a **logo**? Should we look in Wikipedia|DbPedia, or where? And maybe also the **communication channel (mailing list, chat)**, but that we could perhaps also leave out at first.

[2021-05-09 12:31] matuskalas commented on #613
@drashti171299 (and all) this is indeed a very interesting extension of the SBML format (together with a few others), but we first need to discuss more how we model them in EDAM. To my understanding this is not super urgent, so I suggest to concentrate on it only after the coming release.

[2021-05-09 13:04] drashti171299 commented on #613
Ok no problem @matuskalas

[2021-05-09 14:10] #611 closed

[2021-05-09 15:30] drashti171299 commented on #682
Yes @matuskalas. Do let me know which attributes should I add in owl file.

[2021-05-09 20:40] Lukong123 commented on #595
Hello @matuskalas will love to work on this

[2021-05-10 09:34] bryan-brancotte commented on #682
Thanks for the annotations, and https://lov.linkeddata.es !

[2021-05-10 11:56] matuskalas commented on #682
Indeed, thank you so much!🙏🏽

I realised that for the source code repo we could also use the one defined in EDAM itself (used for formats): `edam:repository`

[2021-05-10 12:01] matuskalas commented on #682
This is a side track, but related: @albangaignard do you know what the way is to get the attributes & properties defined in EDAM listed in https://lov.linkeddata.es? Things like the `repository`, `has_input`, `has_output`, `has_function` might be quite broadly usable...
(Sorry for the side track, we should move it to a separate issue if a discussion starts)

[2021-05-10 12:03] matuskalas commented on #682
Back on track: @drashti171299, please add `repository` and `foaf:logo` for now. Many thanks! 🙏🏽

[2021-05-10 12:05] drashti171299 commented on #682
ok @matuskalas .

[2021-05-10 17:09] AnkitaxPriya commented on #681
@Lady-Precious I observed that you have mentioned really clean documentations using Git and GitHub for the future and fellow contributors. All the resources have been so accurately mentioned that be it a beginner or an advanced user of Git, he/she may contribute to EDAM Ontology very smoothly.

But I did find a deficiency. @matuskalas I think we must update the documentation of contributions using

[2021-05-10 19:15] Jannathfatima commented on #681
@Lady-Precious Congratulations on your great effort and swiftly explained document.

I would like to add in the section for non Git users who are contributing on webprotege .

we can choose different stages of learning from basic to advance and create those comments thread in order to make the contributors move from basic to advance level of information.

In this manner the contributor will unders

[2021-05-11 08:49] #687 closed

[2021-05-11 19:41] Lukong123 commented on #681
Hello @Lady-Precious really nice initiative, Concerning contributing using git that is related to issue #616 well we all had our own experience while accomplishing this task so maybe the instructions could be revised while taking into consideration the comments made under it because from there we have the different ways of troubleshooting the difficulties we encountered.

[2021-05-12 08:22] Uttam-Singhh commented on #681
Really appreciable work @Lady-Precious.🙌🏽
I think the UI and UX of the projects matter the most. If the project's UI & UX is good then people will visit it again. I have worked on the Edam website under @matuskalas but hope to improve it more and as said by @matuskalas we are going the change the look of the website soon.
Regarding Contribution using Github as @AnkitaxPriya described that @Lady-Pr

[2021-05-15 05:21] secrashi opened #694 "[Edam Browser User] Change proposition for http://edamontology.org/data_0842"
[//]: # (You can add comment regarding your issue hereafter)
### Comments
It displays `{"@id":"dc:identifier"}` instead of displaying the narrow synonyms.

[//]: # (End of issue comments)
### Hereafter are the initial version and proposed modification of attributes of the given term

| key | value |
| --- | --- |
| Attr  | **narrowSynonyms** |
| Old | [object Object] |
| New |  |
|  |  |

[2021-05-15 12:24] matuskalas commented on #694
It looks like this on the BioPortal:
![image](https://user-images.githubusercontent.com/992660/118360618-d9409480-b588-11eb-827b-05a9db621100.png)

The `hasNarrowSynonym    http://purl.org/dc/elements/1.1/identifier` looks good, but `Synonyms` and `seeAlso` look weird.

[2021-05-15 12:40] matuskalas commented on #694
![image](https://user-images.githubusercontent.com/992660/118361320-350c1d00-b58b-11eb-8e25-de80f3a3351f.png)

The `{"@id":"dc:identifier"}`, I expect, comes from how RDFlib creates the JSON-LD. Something to explore|test more...

[2021-05-15 15:30] secrashi commented on #694
Hii, @matuskalas,

Ohh yes, I didn't notice it before.

I checked this term on Bioportal and also looked for other terms that displayed narrow synonyms correctly, the difference that I observed there was that For the term `Identifier`, the Narrow synonyms category contained a link, while for other terms it had the narrow synonyms listed. I'm not sure about this, but Can this be a possible reason f

[2021-05-15 16:37] secrashi commented on #694
Hi @matuskalas, I noticed a similar problem for https://edamontology.github.io/edam-browser/#topic_3411 in the exact Synonyms part, I checked [AberOwl](http://aber-owl.net/ontology/EDAM/#/Browse/%3Chttp%3A%2F%2Fedamontology.org%2Ftopic_3411%3E), [WebProtege](https://webprotege.stanford.edu/#projects/98640503-a37d-4404-84da-caf30fadd685/edit/Classes?selection=Class(%3Chttp://edamontology.org/topic_

[2021-05-15 16:42] secrashi commented on #694
There are many terms in https://edamontology.github.io/edam-browser/#topic_3410 ( in medicine term under topic), which display the same problem.

[2021-05-16 12:17] #627 closed

[2021-05-16 12:24] matuskalas commented on #627
@slaurie would you like to add this email address to your GitHub profile, so that your co-authored commits are attributed to your account? (I think you can keep it "private" on GitHub if you want, but nevertheless it is now visible in the commits. And in this issue😸. If that is a problem, please let me know asap and I'll purge it😉)

[2021-05-16 13:33] matuskalas opened #696 "Make pre-commit more robust"
We have to take into the account the issues I raised in the comments in #638 and https://github.com/edamontology/edamontology/pull/638/commits/a547b81c471fff4431012b101cc581412b17b6fa

- [ ] One obvious quick fix TODO in `.githooks/pre-commit`: Remember whether `git stash` actually stashed something, and `pop` only if so
- [ ] Test & explore further wrt the other mentioned weirdnesses

[2021-05-16 13:35] #622 closed

[2021-05-16 13:37] matuskalas commented on #622
The basic problem is solved in #638 (https://github.com/edamontology/edamontology/commit/55170a7a130d4023143121c684b438431c00882d). For further work to make it more robust, there is issue #696.

[2021-05-16 13:48] matuskalas opened #697 "Add BCF format"
(This issue is suitable also to newcomers. Highly appreciated if anyone fixes it! [CONTRIBUTING.md](https://github.com/edamontology/edamontology/tree/main/CONTRIBUTING.md) should be helpful, but please ask for more pointers|help if needed.)

BCF is the binary version of VCF.

See comments in https://github.com/edamontology/edamontology/commit/55170a7a130d4023143121c684b438431c00882d.

Please use t

[2021-05-16 13:53] matuskalas commented on #688
A couple of years ago when we tested the `.githooks/pre-commit` hook in the **GitHub Desktop** app on Windows, it worked fine for some users, but not for myself 😐.

The related question to test, is whether the line endings influence its behaviour.

**Extremely highly appreciated if more people could test this!!!** The guidelines for setting up the local repo are in [CONTRIBUTING.md](https://github

[2021-05-16 14:07] matuskalas commented on #625
I wrote my ideas in https://github.com/edamontology/edamontology/pull/639#issuecomment-841822209. Summary: Important issue, needs more thinking & work in the future. Important related issue: #681.

[2021-05-16 15:15] matuskalas commented on #696
A new weird behaviour of the stashing found:
![image](https://user-images.githubusercontent.com/992660/118402479-5132bb80-b66a-11eb-82a8-2a45b9ea6a11.png)

[2021-05-26 14:08] jonrkarr opened #701 "New format for Smoldyn format for particle-based simulations of biochemical reactions"
**Format name:**  Smoldyn

**Short description:** Format for particle-based simulations of biochemical reactions.

**Parent URI(s):** format_2330|format_2013

**Is Format Of:**

**exactSynonym(s):**

**Specification:** http://www.smoldyn.org/SmoldynManual.pdf

**Documentation:** http://www.smoldyn.org/about.html|http://www.smoldyn.org/SmoldynManual.pdf|https://smoldyn.readthedocs.io/

**Wikipedia:

[2021-05-26 14:21] jonrkarr opened #702 "New format for CopasiML format for continuous, discrete, and hybrid simulations of biochemical reaction networks"
**Format name:**  COPASI Markup Language

**Short description:** Format for continuous, discrete, and hybrid simulations of biochemical reaction networks.

**Parent URI(s):** format_2332|format_2013

**Is Format Of:**

**exactSynonym(s):** CopasiML

**Specification:** http://copasi.org/Support/Technical_Documentation/File_Format/

**Documentation:** http://copasi.org/Support/Technical_Documentatio

[2021-05-26 14:32] jonrkarr opened #703 "New format for MorpheusML for multi-scale spatial simulations"
**Format name:**  Morpheus Markup Language

**Short description:** Format for multi-scale spatial simulations.

**Parent URI(s):** format_2332|format_2013

**Is Format Of:**

**exactSynonym(s):** MorpheusML

**Specification:** https://gitlab.com/morpheus.lab/morpheus/-/blob/master/morpheus/core/simulation.xsd

**Documentation:** https://morpheus.gitlab.io/courses/getting-started/behind-the-scenes/

[2021-05-27 14:51] bryan-brancotte opened #705 "Missing `owl:onProperty` in `http://edamontology.org/format_4015`"
When converting the dev version of the ontology from owl to json with edam2json I get an error for term `http://edamontology.org/format_4015` It has restriction but the `owl:onProperty` is missing following the logs.

[code]

I am also proposing a CI action that convert the file into json to check if conversion is error-less with #704

[2021-05-27 15:34] bryan-brancotte opened #707 "Wrong URL for the logo in EDAM_dev.owl"
The logo url in the development version is

https://github.com/edamontology/edamontology/blob/main/EDAM-logo-square.svg

but should be

https://raw.githubusercontent.com/edamontology/edamontology/main/EDAM-logo-square.svg

[2021-05-27 15:38] bryan-brancotte commented on #705
#706 fixed for format_3475 but not for format_4015

[2021-05-27 15:43] bryan-brancotte commented on #705
You can check if there are other not missing with https://github.com/edamontology/edamontology/pull/704/checks

[2021-05-27 17:00] matuskalas opened #708 "Create and send a form with personal details for contributors"
Use Google Form and explain the privacy conserns. Do not ask for private data other than preferred communication address and a note.

Additional form for uploading images requires sign-in with a Google account.

This won't be the perfect private solution, but let's see where it gets us first.

[2021-05-27 17:16] #705 closed

[2021-05-27 17:23] bryan-brancotte commented on #367
Hi @hmenager @matuskalas

Reviving this old issue

How can we/I add the edam2json extended export into the release process ? Also could we add in the 1.25 release the json export ? If it is not possible maybe re-release the 1.25 into 1.25.1 with the json ?

[2021-05-27 17:33] matuskalas commented on #367
I'd prefer adding the JSON-LD format after next week (_i.e._ after release 1.26, or together with the 1.26 release if anyone else than me sets that up). And then see if we could use it in the EDAM Browser instead of the biotools extended JSON which is very custom and I'd prefer avoiding it in the public release if possible (it only makes sense to 2 people on the planet and 2 applications).

[2021-05-28 21:26] jonrkarr opened #710 "New format for Low Entropy Model Specification language"
**Format name:**  Low Entropy Model Specification language

**Short description:** Format for complex biological models and simulations.

**Parent URI(s):** format_2332|format_2013

**Is Format Of:**

**exactSynonym(s):** LEMS

**Specification:** https://github.com/LEMS/LEMS/tree/master/Schemas/LEMS

**Documentation:** http://lems.github.io/LEMS/

**Wikipedia:**

**Publication:** 10.3389/fninf.201

[2021-05-31 13:26] bryan-brancotte commented on #367
Hi @matuskalas
If the json-ld is ready to be automatically released then yes, let's do it ! We will have to change the browser so it reads the json-ld, but if then we can navigate between the versions, and be automatically linked to the latest version then it worth it.

[2021-06-03 08:17] #707 closed

[2021-06-03 13:29] jonrkarr opened #712 "New format for hoc language (most common format for computational neuroscience models)"
**Format name:**  hoc

**Short description:** hoc (High Order Calculator) is an interpreted programming language used as the primary scripting language for the NEURON simulator.

**Parent URI(s):** format_2330|format_2013

**Is Format Of:**

**exactSynonym(s):** High Order Calculator

**Specification:**

**Documentation:** https://www.neuron.yale.edu/neuron/static/new_doc/programming/hoc.html

**W

[2021-06-05 19:16] #623 closed

[2021-06-15 07:27] cb2993 opened #720 "New format: cif"
**Format name:** < cif >
**Short description:** < Crystallographic Information File (CIF) is data exchange standard file format for Crystallographic Information and related structural science data>
**Parent URI(s):** < >
**exactSynonym(s):** < >
**Specification:** < https://www.iucr.org/resources/cif/spec/version1.1  | mmcif : http://purl.obolibrary.org/obo/NCIT_C133997 >
**Documentation:** < http

[2021-06-15 07:37] cb2993 opened #721 "New format: cml"
**Format name:** < cml >
**Short description:** < Chemical Markup Language (CML)  is an XML-based format for encoding detailed information about a wide range of chemical concepts [http://justsolve.archiveteam.org/wiki/CML ]. >
**Parent URI(s):** < http://edamontology.org/format_2332 | http://edamontology.org/format_2030 >
**exactSynonym(s):** < ChemML >
**Specification:** < >
**Documentation:** <

[2021-06-18 07:22] bryan-brancotte opened #723 "Wrong release version in EDAM_1.24.owl ?"
Hi, when opening the https://raw.githubusercontent.com/edamontology/edamontology/main/releases/EDAM_1.24.owl I found out that
[code]

Should the version number be changed in EDAM_1.24 ? Or is the problem more important

[2021-06-18 14:30] jonrkarr commented on #588
Closing because this is a duplicate of #710

[2021-06-18 14:30] #588 closed

[2021-06-21 13:26] allysonlister opened #724 "Licencing question for EDAM and SWO"
Good afternoon!

Over at the OBO Foundry issue tracker (https://github.com/OBOFoundry/OBOFoundry.github.io/issues/1040), @cmungall
and I as well as a few others have been having a rather leisurely discussion on how the recommended OBO licences (CC BY or CC0, see http://www.obofoundry.org/principles/fp-001-open.html) might interact with the EDAM licence (CC-BY-SA-4.0 License).

Right now, SWO impor

[2021-06-21 15:51] #633 closed

[2021-06-21 15:55] matuskalas commented on #696
So sorry, wrong commit message 😢
This still has to be fixed, reopening now.

[2021-06-25 15:14] Kigaard opened #726 "Problem with Genome resequencing (operation_3923)"
Operation Genome sequencing (http://edamontology.org/operation_3923) is subclass of topic Sequencing (http://edamontology.org/topic_3168).

[2021-06-25 15:19] jonrkarr opened #727 "New term for Singularity image format"
**Format name:**  Singularity Image Format

**Short description:** The Singularity image format is a format for virtual containers suitable for execution on high performance computing clusters. Singularity images are often built by conversion from Docker images.

**Parent URI(s):** format_2333

**Is Format Of:**

**exactSynonym(s):** SIF

**Specification:**

**Documentation:** https://sylabs.io/si

[2021-06-25 15:33] jonrkarr opened #728 "New term for OMEX Metadata format"
**Format name:**  OMEX Metadata format

**Short description:** Guidelines for using triples to describe metadata about mathematical models and simulations for serializing triples to several formats.

**Parent URI(s):** format_2332

**Is Format Of:**

**exactSynonym(s):** OMEX Meta

**Specification:** https://doi.org/10.1515/jib-2020-0020

**Documentation:**

**Wikipedia:**

**Publication:** 10.118

[2021-06-28 15:36] matuskalas commented on #563
+ rename to Docker image
+ remove file extension
+ make Wikipedia link rdfs:seeAlso instead

[2021-06-28 15:40] matuskalas commented on #534
Done, added as a narrow synonym of Post-translational modification analysis / prediction.

[2021-06-28 15:40] #534 closed

[2021-06-28 15:41] melibleq commented on #608
This issue was closed by https://github.com/edamontology/edamontology/pull/692.

[2021-06-28 15:43] #608 closed

[2021-06-29 14:47] #723 closed

[2021-06-29 14:49] matuskalas commented on #723
Fixed.
TODO: Update on website.
TODO: Check the whole 1.24, it looks being plagued with all sorts of problems 🤔

[2021-06-29 14:53] #563 closed

[2021-06-29 14:55] matuskalas commented on #563
Million thanks @mr-c for spotting this and @melibleq @hmenager for fixing the whole concept.

Note: A separate 'Docker file' concept (the recipe text file) is awaiting merge.

[2021-07-01 14:25] matuskalas commented on #597
Sounds good, thanks @d-salgado !

We can also add synonym (or even preferred term) Sequence variation metadata

[2021-07-01 14:27] matuskalas commented on #597
Related: Should the "parent" concept be Sequence variation data, to disambiguate from topics?

(also, not using "annotation" is perhaps good for disambiguation from operation)

[2021-07-01 14:34] matuskalas commented on #393
Another option to consider:

One concept "Genetic variation" (or Genomic? or DNA?) with these as narrow synonyms or related terms?

[2021-07-01 18:47] matuskalas commented on #392
At the moment there is Phylogeny, with 2 specialised topics underneath: Phylogenetics and Cladistics.

And a closely related "sibling" of Phylogeny is Taxonomy.

I'm personally not sure what exactly the differences are between these concepts. It'd be great to find out from some _phyla-clades-taxa_ experts.

An option might be to merge all these into 1 concept, but it'd be great to have it confirme

[2021-07-15 15:01] hmenager opened #735 "[Edam Browser User] Change proposition for http://edamontology.org/topic_3941"
[//]: # (You can add comment regarding your issue hereafter)
### Comments
Transcriptomics is currently a direct child of both Gene expression and Transcriptomics, which is itself a direct child of Gene expression. To remove this redundancy I suggest Metatranscriptomics is made a direct child only to Transcriptomics

Additionally, it would make sense to remove the "Metatranscriptomics" narrow synon

[2021-07-17 02:05] leonqli opened #736 "Please add new terms about chemical Names"
Similar like "Chemical name (INN)", please consider adding the following names:

"Chemical name (USAN)"
"Chemical name (JAN)"
"Chemical name (JP17)"
"Chemical name (BAN)"

Thanks!

[2021-07-19 17:41] matuskalas commented on #736
Thank you for the request @leonqli 👍🏽

I do not understand the difference between JP and JP17. Can you please explain or point me in the direction?

[2021-07-20 08:24] hmenager opened #738 "[Edam Browser User] Change proposition for http://edamontology.org/topic_3391"
[//]: # (You can add comment regarding your issue hereafter)
### Comments
We should have a run at restructuring a bit the Omics topic branch. There are multiple gaps, and a few errors in the hierarchy (e.g. Transcriptomics is not a child concept of Genomics). A good reference pointer is https://en.wikipedia.org/wiki/Omics

[//]: # (End of issue comments)

[2021-07-20 14:58] leonqli commented on #736
Thanks @ManonGros !

JP17, JP18, are drug names from Japanese Pharmacopoeia 17th/18th Edition.

https://www.pmda.go.jp/english/rs-sb-std/standards-development/jp/0019.html

[2021-08-01 17:30] melibleq opened #740 "Pangenome-related format specification links"
As suggested by @heuermh during the BOSC 2021 CoFest - thank you!

- rGFA https://github.com/lh3/gfatools/blob/master/doc/rGFA.md#the-reference-gfa-rgfa-format
- GFA 1.0 http://gfa-spec.github.io/GFA-spec/GFA1.html
- GFA 2.0 http://gfa-spec.github.io/GFA-spec/GFA2.html
- PGVF (draft) https://github.com/pangenome/pgvf-spec
- PAF https://github.com/lh3/miniasm/blob/master/PAF.md
- GAF https://github

[2021-08-01 18:50] heuermh commented on #740
Thank you, @melibleq!  Please let me know if there are any questions

[2021-08-01 23:01] matuskalas commented on #583
@boratyng, please point us to the documentation / specs of all the BLAST formats. Million thanks!! 🙏🏽

[2021-08-01 23:04] matuskalas commented on #740
Adding a note:
Let's at this occassion check & if needed add or refine _Pangenome (sequence)_, _Graph format_, _Network format_, _Pangenome format_.

[2021-08-02 18:31] boratyng commented on #583
@matuskalas, unfortunately we do not have specs for BLAST formats. I can help with this either by answering questions or contributing pull requests. Are BLAST formats already defined in EDAM and need updating, or do they need to be created from scratch. If the former can you point me to the code/specs?

[2021-08-04 12:36] Kigaard opened #741 "Question regarding Transcriptomics and Metatranscriptomics"
Transcriptomics (http://edamontology.org/topic_3308) has synonym Metatranscriptomics, which is also a topic (http://edamontology.org/topic_3941). Is this correct?

[2021-08-04 19:12] Kigaard commented on #741
Yes, I will try 😃

[2021-08-04 19:34] #741 closed

[2021-08-05 09:42] Kigaard opened #743 "Microfluidics"
**Topic name:**  < Microfluidics >

**Short description:** < Interdisplinary study of behavior, precise control, and manipulation of low (microlitre) volume fluids in constrained space.  >

**Parent URI(s):** <http://edamontology.org/topic_3318 >

**exactSynonym(s):** < >

**narrowSynonym(s):** < Fluidics >

**Wikipedia:** < https://en.wikipedia.org/wiki/Microfluidics >

**Comment:** < The topic i

[2021-08-05 09:47] Kigaard commented on #735
Hi @hmenager. FYI, the issue with metatranscriptomics has been corrected in #742.

[2021-08-05 22:08] matuskalas commented on #743
Sounds great👍🏽

Do you know about some concrete cases of usage within life sciences? Or even among tools? I'm just curious 😊

[2021-08-05 22:24] matuskalas commented on #735
I see, sure the subsumption of both Gene expression and Transcriptomics is redundant.

And I personally find more issues with these concepts as they are organised now:
- Gene expression has no relation to Genomics. Should it or not? I guess it depends how we define Genomics.
- Transcriptomics is a specialisation of Genomics, but Metatranscriptomics is NOT a specialisation of Metagenomics. I'm not

[2021-08-06 08:02] Kigaard commented on #743
It is used in the single-cell sequencing, where the cells are immersed in droplets prior to further analysis. There is also a whole research field involving lab/organs-on-a-chip. But I am not an expert in microfluidics 😅

[2021-08-06 08:37] Kigaard commented on #726
Hi @matuskalas 😄 Just small reminder about a bug, so it may be part of release 1.26 😃 I don't know the exact release schedule

[2021-08-09 10:31] Kigaard opened #744 "Acoustics"
**Topic name:**  < Acoustics >

**Short description:** < The study of mechanical waves in liquids, solids, and gases. >

**Parent URI(s):** < http://edamontology.org/topic_3318 >

**exactSynonym(s):** < >

**narrowSynonym(s):** < >

**Wikipedia:** < https://en.wikipedia.org/wiki/Acoustics >

**Comment:** < >

[2021-08-14 18:59] Kigaard opened #745 "Mass spectrum feature detection"
**Operation name:**  < Mass spectrum feature detection>

**Short description:** < Detecting a wide range of features in a mass spectrum. >

**Parent URI(s):** < http://edamontology.org/operation_3937 >

**Has Input:** < http://edamontology.org/data_2536 >

**Has Output:** < http://edamontology.org/data_1277 >

**Has Topic:** < http://edamontology.org/topic_3520 >

**exactSynonym(s):** <MS feature

[2021-08-14 19:31] Kigaard opened #746 "Possible issue with Deconvolution being synonym to Deisotoping (http://edamontology.org/operation_3629)"
Currently "Deconvolution" is an exact synonym to Deisotoping (http://edamontology.org/operation_3629), which is highly related to proteomics/mass spectrometry. However, Deconvolution is also found in other fields than proteomics, such as genomics/sequencing.

[2021-08-18 10:50] veitveit commented on #746
Makes sense. Can you give an example for usage of the term deconvolution in other fields?

The definition of the term is strongly related to spectra for now. Therefore, one would need to either generalize it to include other deconvolution types, or add the other ones to a different or new term.

[2021-08-18 20:39] Kigaard commented on #746
@veitveit, one example in bio.tools is [DeCompress](https://bio.tools/decompress), which

Thereby possibly falling into the category of [Cellular deconvolution](https://en.wikipedia.org/wiki/Cellular_deconvolution).

The Deconvolution-definition is also found in the imaging-field, in regards to the removal of image blur.

[2021-08-26 12:03] matuskalas opened #749 "Fix Graph Modelling Language"
http://edamontology.org/format_3822

- [ ] Disambiguate from Geographical Markup Language
- [ ] Create an original definition (not copy from homepage)
- [ ] Is it a general graph format? Add underneath Graph format.
- [ ] Polish the whole record
- [ ] Add missing formats from https://gephi.org/users/supported-graph-formats/gml-format/

[2021-08-31 12:55] matuskalas opened #750 "Check all concepts used by AlphaFold are covered"
- [ ] Check all concepts used by AlphaFold are covered, https://github.com/deepmind/alphafold, esp. formats
- [ ] ML details need to go to EDAM Bioimaging (probably all there either implemented or as notes)
- [ ] Make sure there is a good record in Bio.tools (only 1 or 2 separate for AF1 & AF2?) ...
- [ ] ... ideally having ML concepts from EDAM Bioimaging merged into the main EDAM (this part can

[2021-08-31 22:30] cmungall opened #751 "rdfs:comment with non-literal value"
EDAM.owl has:

[code]

While this is valid OWL, it is convention in both OBO and most other ontologies to only have literal values from comments, I assume this is a mistake. You already have the replacedBy triple.

This is how it looks in OLS:

![image](https://user-images.githubusercontent.com/50745/131583824-d2ecb044-90c0-4f8b-8bbe-35d21fad3593.png)

[2021-09-01 09:24] matuskalas commented on #751
This is obviously a bug, thank you very much for reporting @cmungall 🙏🏽

[2021-09-02 19:58] #751 closed

[2021-09-02 20:06] matuskalas commented on #751
This is now fixed, many thanks again for finding it @hrshdhgd @cmungall

Is this such a showstopper for your workflow that you'd prefer us patching it in the (otherwise) stable release at https://edamontology.org/EDAM.owl?

Possibly related to this, there are some `oboInOwl:...Synonym`-s with a non-literal value in EDAM. Do those work fine in your tooling?

[2021-09-03 21:22] cjmyers opened #752 "Update to SBOL data format"
Please make the following updates to the SBOL data format:

1) Make a subClassOf RDF format and JSON format, as well as XML.

2) Change documentation link to: https://sbolstandard.org

[2021-09-05 20:00] matuskalas commented on #752
Many thanks for reporting this @cjmyers 🙏🏽

If I understand SBOL right, it is defined as an RDF data model / vocabulary. Is that right?

That means the current `subClassOf` is wrong and should be RDF instead of XML.

As RDF, I suppose it can be serialised in all the expected serialisations (RDF/XML, Turtle, N3, ..., and JSON-LD). Is that so for SBOL?

Many thanks again 🙇🏽‍♂️

[2021-09-05 20:45] matuskalas commented on #752
From the spec, it sounds very much so 😊

I have another question:
It looks like SBOL relies heavily on SBO, but also GO, SO, and ChEBI, and if I understood correctly, PROV and OM can be used optionally. Would you please clarify? Are there any other ontologies used in SBOL, or ideally, is there a list anywhere (ideally also compulsory/optional). Million thanks!

[2021-09-05 21:34] cjmyers commented on #752
Yes, SBOL can be serialized in all these formats.

Prov, OM, SO, SBO, and ChEBI are all heavily used.  Table 16 in the specification lists many of our recommended ontologies: https://sbolstandard.org/docs/SBOL3.0specification.pdf

[2021-09-05 22:48] matuskalas commented on #752
Perfect, the Table 16 is exactly what I needed👍🏽 And I'd add GO (Component, type), and the mentioned PROV and OM. Is that it?

We'll fix it in EDAM so that SBOL is a "subclass of" RDF. Without multiplicating it to RDF/XML, Turtle, N3, JSON-LD, ... These could be specificied in addition wherever used in annotations (such as _e.g._ **SBOL** **+**/**∩**/**&** **JSON-LD**). Is that alright, or would y

[2021-09-06 15:44] LucieLamothe opened #754 "Synonym conflict"
edamxpathfile (testing consistency rules in EDAM) was run on the last version on EDAM_dev.owl and raised a warning:

`multiple concepts with the same namespace  have the same synonym 'Life sciences' - 'Biology' (http://edamontology.org/topic_3070) -> 'Biology' (http://edamontology.org/topic_3070) `

`multiple concepts with the same namespace  have the same synonym 'Life sciences' - 'Biosciences' (

[2021-09-06 15:50] matuskalas commented on #754
Awesome, thank you so much for spotting this @LucieLamothe! 🙏🏽 Indeed, please remove it from Biology, thanks! 🙇🏽‍♂️

[2021-09-06 15:53] matuskalas commented on #754
If you need a guidance in how to set up this repo locally & do the edits, please follow #616 and ask eventual questions either there or in the Gitter chat. All the best! ;D

[2021-09-06 19:32] cjmyers commented on #752
Those are the most commonly used ontologies, but others can be used as desired.

I think subclass of RDF is fine.  Thanks.

[2021-09-07 11:25] LucieLamothe commented on #754
Thank you matus. Hervé helped me out for this one but it's good to know that there is a memo.

Talk to you soon,

Lucie L
________________________________
De : Matúš Kalaš ***@***.***>
Envoyé : lundi 6 septembre 2021 17:54
À : edamontology/edamontology ***@***.***>
Cc : LucieLamothe ***@***.***>; Assign ***@***.***>
Objet : Re: [edamontology/edamontology] Synonym conflict (#754)

If you need a gui

[2021-09-07 13:25] #754 closed

[2021-09-08 09:49] bayjan opened #756 "New operation concept for multiomics data integration"
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Operation name:**  < multiomics data integration >

*Instructions:*  Name of operation, *e.g.* "Sequence aign

[2021-09-10 13:39] veitveit opened #757 "New operation "Power test""
*Instructions:* When making a request, replace the text < between chevrons > after first reading the instructions.  The instructions can be removed. Do not change any other text, and please try to complete as much information as you can (your request will get acted on sooner if you do).

**Operation name:**  < Power test>

*Instructions:*  Name of operation, *e.g.* "Sequence aignment".  This is th

[2021-09-12 13:01] Kigaard opened #759 "New Operation "DNA modification prediction""
**Operation name:**  < DNA modification prediction >

**Short description:** < The prediction of DNA modifications >

**Parent URI(s):** < http://edamontology.org/operation_0415 >

**Has Input:** < http://edamontology.org/data_3494 >

**Has Output:** < http://edamontology.org/data_1772 | http://edamontology.org/data_1276 >

**Has Topic:** < http://edamontology.org/topic_3295 | http://edamontology.

[2021-09-12 13:12] Kigaard opened #760 "New operation "Disease transmission analysis""
**Operation name:**  < Disease transmission analysis >

**Short description:** < The analysis of the transmission of disease in a population >

**Parent URI(s):** <http://edamontology.org/operation_2945 >

**Has Input:** < >

**Has Output:** < http://edamontology.org/data_2048 >

**Has Topic:** <http://edamontology.org/topic_3324 | http://edamontology.org/topic_3305 >

**exactSynonym(s):** < >

**

[2021-09-12 20:19] Kigaard opened #761 "Add narrow synonyms to "Statistical calculation" (http://edamontology.org/operation_2238)"
The following terms could be added as narrow synonym to operation "Statistical calculation" (http://edamontology.org/operation_2238):
- False discovery rate estimation
- FDR estimation
- Multiple testing

[2021-09-13 13:14] veitveit commented on #761
I would opt for adding a new term instead as FDR  calculation is more
detailed

On Sun, Sep 12, 2021, 22:19 Mads Kierkegaard ***@***.***>
wrote:

[2021-09-13 13:20] Kigaard commented on #761
FDR was suggested as a synonym as I thought it might be to specific - But I am still learning 😄

[2021-09-13 14:20] veitveit commented on #761
No worries. All these terms could actually become a new child of Statistical calculation, which could be called "Multiple testing"

[2021-09-13 14:38] Kigaard commented on #761
I will compile information for a "Multiple Testing Correction"-operation proposal 😃

[2021-09-13 14:51] Kigaard opened #762 "New operation "Multiple testing correction""
**Operation name:**  < Multiple testing correction>

**Short description:** < The correction of p-values from multiple statistical tests to correct for false positives. >

**Parent URI(s):** <http://edamontology.org/operation_2238 >

**Has Input:** < http://edamontology.org/data_1669 >

**Has Output:** < http://edamontology.org/data_3932 >

**Has Topic:** < http://edamontology.org/topic_2269 >

**

[2021-09-13 14:56] veitveit commented on #761
Thanks!

Am Mo., 13. Sept. 2021 um 16:38 Uhr schrieb Mads Kierkegaard <
***@***.***>:

--
            \|||/
           (o o)
 ----ooO-(_)-Ooo----

Don't worry about life; you're not going to survive it anyway.

http://computproteomics.bmb.sdu.dk

[2021-10-07 09:37] vbaillet opened #769 "[Edam Browser User] Change proposition for http://edamontology.org/topic_3974"
[//]: # (You can add comment regarding your issue hereafter)
### Comments
- definition was incorrect (definition of epigenomics), substituted by current comment entry which is a more correct def of epistasis
- suppr parent term Genomics (not an Omics concept), sub parent term Epigenetics by Genetics (higher order parent term, epistatis not a subfield of epigenetics)

[//]: # (End of issue comments

[2021-10-07 09:56] vbaillet opened #770 "[Edam Browser User] Change proposition for http://edamontology.org/operation_3206"
[//]: # (You can add comment regarding your issue hereafter)
### Comments
- tiny change to definition
- link with topics = epigenetics, epigenomics

[//]: # (End of issue comments)
### Hereafter are the initial version and proposed modification of attributes of the given term

| key | value |
| --- | --- |
| Attr  | **definition** |
| Old | Measure the overall level of methyl cytosines in a genome

[2021-10-07 22:28] matuskalas commented on #769
Many thanks indeed @vbaillet! 🙏🏽

This was a copy&paste bug 🐛

We have now suggested a simpler and more generic definition with @LucieLamothe, inspired by the definition in MASH: http://purl.bioontology.org/ontology/MSH/D004843
Please review whether you think it's acceptable, or whether it needs to be made more specific.
We had a feeling that the both the definition based on the article mentioned

[2021-10-22 13:13] LucieLamothe opened #774 "New topic: Single-cell sequencing"
**Topic name:**  Single-Cell Sequencing

**Short description:**
Combined with NGS (Next Generation Sequencing) technologies, single-cell sequencing allows the study of genetic information (DNA, RNA, epigenome...) at a single cell level.  It is often used for differential analysis  and gene expression profiling.

**Parent URI(s):** EDAM Topic http://edamontology.org/topic_3168 (Sequencing)

**narro

[2021-10-28 12:02] albangaignard opened #775 ""Genome resequencing" operation is a subclass of topic "Sequencing""
Operation classes should not inherit from Topic classes.

[code]

[2021-11-09 17:04] Kigaard opened #778 "Standardize use of "notRecommendedForAnnotation"-property"
The use of `notRecommendedForAnnotation` property does not seem to be used consistently throughout the ontology.
The property is missing for terms, which could be used (The property should be added, mostly for easing automation of reading). However, a more pressing issue is the terms, where it clearly should have `notRecommendedForAnnotation`set to `false` - For example [Text data](http://edamonto

[2021-11-11 16:42] vedran-kasalica opened #780 "[Edam Browser User] Change proposition for http://edamontology.org/operation_0256"
[//]: # (You can add comment regarding your issue hereafter)
### Comments
The operation has 2 different terms as expected inputs. Should be looked into.

[//]: # (End of issue comments)
### Hereafter are the initial version and proposed modification of attributes of the given term

| key | value |
| --- | --- |
| Attr  | **has_input-0** |
| Old | http://edamontology.org/data_0849 |
| New | http://

[2021-11-12 09:12] magnuspalmblad opened #781 "EDAM in OBO?"
In working with EDAM from within R, with packages such as ontologyIndex and ontologySimilarity, it would be nice to have the ontology in OBO, as this is the format read by those packages.

[2021-11-16 12:23] bayjan commented on #360
Can this issue be open again considering also the issue https://github.com/edamontology/edam-bioimaging/issues/17? Thank you.

[2021-11-16 14:37] matuskalas commented on #360
Thanks for the heads-up @bayjan!
Indeed, this needs to be fixed, namely in https://github.com/edamontology/edam-bioimaging/issues/17. About half of the listed terms is there as concepts, the rest has to be figured out.
After they're all fixed, they will need to be merged into the mainline EDAM, something we can do with the highest priority for the ML/AI concepts.

[2021-11-28 14:33] Kigaard commented on #726
Work continued in #775.

[2021-11-28 14:33] #726 closed

[2021-12-01 10:19] LucieLamothe opened #782 "Duplicate definition"
35 concepts (see bellow) seems to have the diplicated definitions. The were identified by the robot report duplicate definition query (slightly altered).
They need to be specified.

http://edamontology.org/format_2183 | XML format for EMBL entries.
http://edamontology.org/format_2184 | XML format for EMBL entries.
http://edamontology.org/format_2185 | XML format for EMBL entries.
http://edamontolo

[2021-12-01 13:08] matuskalas commented on #782
Oh wow! 😱🐛 This is a major finding 🙀

[2021-12-02 09:26] cb2993 opened #784 "New format mzTab-M"
Format name: < mzTab-M >
Short description: < A flexible tab-delimited reporting data standard file format for sharing quantitative mass spectrometry metabolomics/lipodomics results. It contains the ability to represent “intermediate” or supporting data, including the evidence trail for identifications from software (scores or statistics), as well as the quantification values derived directly from

[2021-12-07 09:34] #743 closed

[2021-12-07 09:34] #744 closed

[2021-12-07 09:34] #774 closed

[2021-12-08 05:20] cb2993 opened #787 "New format: FID"
Format name: < fid>
Short description: <
FID (free induction decay) format is a raw data format and part of a NMR dataset. It consists of complex point pairs, real and imaginary. Please note that .fid is used as a file extension for distinct vendor specific formats. >
Parent URI(s): < >
exactSynonym(s): < >
Specification: < Bruker FID (TopSpin/X-winnmr, .ser, .fid) | Varian/Agilent FID (VNMRJ) | J

[2021-12-08 05:21] cb2993 opened #788 "New format: hkl"
Format name: < hkl >
Short description: <HKL Format Structure Factor Files is an ASCII file and defines the Miller indices h k l of the reflections data used for fitting up to a minimum d-spacing range. The format contains h, k, l , amplitude (F), sigma ((F)) data of the structure and every line represents a reflection. It is often embedded in the CIF file. >
Parent URI(s): < >
exactSynonym(s): <

[2021-12-08 05:23] cb2993 opened #789 "New format: fcf"
Format name: < fcf >
Short description: < FCF (Final Draft Converter file) is an export file in plain text format with simple markup language (or lightweight markup language [LML], which is a machine-readable language limited only to ASCII punctuation and other non-letter symbols for tags, similar to HTML) created from scripts and/or documents.
In chemistry, this file format is used as a structure

[2021-12-08 11:01] matuskalas opened #790 "🐛 Fix NetCDF"
Noting this not to forget it for the next major release. http://edamontology.org/format_3650

- [ ] Include proper versions of NetCDF and place under HDF accordingly
- [ ] Double-check that HDF versions are proper
- [ ] Add file extension _nc_
- [ ] Media types: `application/netcdf`, `application/x-netcdf`, or `application/cdf`??? 🤬🙈
- [ ] Fix definition, comments, etc.
- [ ] Separate concept for

[2021-12-08 13:50] matuskalas commented on #789
Seriously? 😮
![image](https://user-images.githubusercontent.com/992660/145219432-da20d519-4823-4656-9e95-096767faac60.png)
Is this really used in chemistry?

[2021-12-08 13:53] matuskalas commented on #784
Thank you so much for the request @cb2993! 🙏🏽 We'll try to add it asap.

[2021-12-08 13:56] matuskalas commented on #784
Or are you making a PR adding this @cb2993? That would of course be even better and super appreciated! 🙌🏽

[2021-12-08 14:01] matuskalas commented on #780
Thanks again @vedran-kasalica for spotting this🙏🏽 Indeed, it should only be `data_1255`. Do you want to fix it in the OWL file yourself & issue a pull request?

[2021-12-09 13:17] vedran-kasalica commented on #780
Hi @matuskalas, thanks for he clarification! Sure I will make a pull request as soon as I have some free time!

[2021-12-09 14:28] cb2993 commented on #789
I'm not entirely sure, since I haven't worked directly with these files, but it has been mentioned. As I also understand this, these files are mostly embedded in cif, which probably makes you deal with them more indirectly.

Through further investigation I have obtained this information, which I include in the description.

[2021-12-17 15:59] matuskalas opened #800 "Review ^ in regeces"
Our hacking this afternoon inspired me to check the regular expressions for IDs in EDAM, and I found 3 occurrences of `^`, which need to be double-checked and eventually revised:
- [ ] GEO db ID - maybe an error?
- [ ] OMIM db ID - maybe an error?
- [ ] ORCID - inappropriate start and end of line, should both be removed

[2021-12-17 16:19] matuskalas commented on #780
Awesome, thanks so much @vedran-kasalica!

[2021-12-17 16:27] matuskalas commented on #789
I see, thanks! Do you think it's possible that the Final Draft Converter file of CIF is not really documented anywhere? (the finaldraft.com is something very different I reckon)

In which way is a special EDAM format needed for this? Are there some tools you would like to annotate as consuming or producing this? Or do you have another use case?

Thanks again for clarification! 🙏🏽

[2021-12-17 16:29] matuskalas commented on #788
@cb2993, if you'll have a bit of time to implement this and issue a PR, that would be super awesome! 😊👍🏽

[2021-12-17 16:31] matuskalas commented on #787
Super appreciated if you'll create a PR with this @cb2993! 🙏🏽

[2021-12-22 14:46] matuskalas commented on #770
In fact, this concept (Whole genome methylation analysis) should be a topic. It is not a step in data analysis, but instead a whole method of research (data generation + the whole analysis workflow).
The suggested parent topics sound good (Epigenetics and Epigenomics), but it's enough with Epigenomics as long as that's under Epigenetics anyway.

[2021-12-31 04:30] jonrkarr opened #805 "Add format terms for older versions of Microsoft Office formats"
(a) Clarify that names of the docx, pptx, and xlsx formats. These are  open formats collectively referred to as the OpenOffice XML format.

(b) Create separate terms for their predecsors doc, ppt, and xls. These are conceptually similar, but significantly different in their ownership and implementation.

[2021-12-31 04:34] jonrkarr opened #806 "Add format terms for source code for programming languages"
Some common languages used in computational biology:
- C
- C++ (header and source)
- Go
- Java
- JavaScript
- Julia
- PHP
- Ruby
- SQL

[2021-12-31 04:44] jonrkarr opened #807 "Add format for Adobe Illustrator Artwork (AI)"

[2021-12-31 05:29] jonrkarr opened #808 "Add new format category for source code for programming languages"
Currently, source for code programming languages are organized as "Workflow format" (format_2032). Workflow is often used to refer to different formats such as CWL, WDL, Nextflow, etc. I suggest codes for programming languages be separated to a different category from formats for workflows.

[2022-01-01 00:11] jonrkarr opened #809 "Add separate format concept for videos"
Currently, video formats are classified under the image category (format_3547). It would be helpful to separate between static image and video formats.

[2022-01-02 19:23] Kigaard opened #810 "New EDAM format: wellmap"
**Format name:**  < wellmap >

**Short description:** <  File format for 96-well plate layouts. >

**Parent URI(s):** < http://edamontology.org/format_2330 >

**Is Format Of:** < EDAM Data URI1 | EDAM Data URI2 |... >

**Specification:** < https://wellmap.readthedocs.io/en/latest/file_format.html >

**Documentation:** < https://wellmap.readthedocs.io/en/latest/index.html | https://github.com/kalek

[2022-01-05 12:49] Gerlex89 opened #811 "New EDAM Format: FAST5"
**Format name:**  < FAST5 >

**Short description:** < The FAST5 file format stores the raw electrical signal levels measured by the nanopores in flow cells for Oxford Nanopore Technologies sequencers, from which various types of information can be extracted. >

**Parent URI(s):** < http://edamontology.org/format_2350|http://edamontology.org/format_3866|http://edamontology.org/format_3867|http://ed

[2022-01-13 14:47] LucieLamothe opened #812 "Error: consider obsolete"
A sparql query :
[code]

Revealed that some deprecated concept had a property oboInOwl:consider pointing toward an other deprecated concept.

[code]

@matuskalas

[2022-01-14 12:58] matuskalas commented on #812
Thanks for finding these Lucie!

I believed that this was checked by the edamxpathvalidator, but it looks like it wasn't. @hmenager could it be that edamxpathvalidator checks only `replaced_by` and not `consider`?

[2022-01-17 09:36] veitveit opened #813 "Software container and their creation"
Container (docker, singularity, ...) became a standard in running software and workflows.

The question is how and whether they should be described via EDAM. I do not have a straight-forward answer to that as they are more a means to run software and not anything directly involved with processing bio... data.

For file format, this could fly. There has been a proposal for a Singularity container f

[2022-01-24 08:46] LucieLamothe commented on #813
Hello @veitveit, this is a good question about the range of EDAM, maybe we should go over this in a EDAM staff meeting.

[2022-01-24 09:36] veitveit commented on #813
Hi @LucieLamothe Good point, let's do that!

[2022-01-24 09:37] LucieLamothe commented on #813
I added it to the agenda :)

[2022-01-24 13:29] LucieLamothe commented on #812
I just checked and it was suppose to test this.

[2022-01-27 11:37] vedran-kasalica commented on #780
Hi @matuskalas, I have updated the ontology. In addition, I had a bit of time and I looked into the ontology and noticed 4 similar cases, namely:

|  Operation |  has_input  |
| :------------: | :------------: |
|   http://edamontology.org/operation_0297 | http://edamontology.org/data_0886,	http://edamontology.org/data_0883 |
|   http://edamontology.org/operation_0286 | http://edamontology.org/dat

[2022-02-02 15:02] LucieLamothe opened #815 "Exact synonym duplicate"
Robot test duplicate_exact_synonym raised some error (not run before, mistake on my behalf, I skipped it) raised 4 duplicates:

WARN    duplicate_exact_synonym http://edamontology.org/data_2044       oboInOwl:hasExactSynonym        Sequences
WARN    duplicate_exact_synonym http://edamontology.org/topic_0080      oboInOwl:hasExactSynonym        Sequences
WARN    duplicate_exact_synonym http://edamo

[2022-02-02 15:10] LucieLamothe commented on #815
The last error is making me think that we should check for empty property in concept annotation.

[2022-02-02 15:32] LucieLamothe commented on #815
For the  Secondary structure alignment (RNA), after all does it make sense to check for duplicate exact synonym when we are voluntarily not checking duplicate labels (because of similar concept just in different subset)

[2022-02-04 15:53] #815 closed

[2022-02-04 16:00] matuskalas commented on #815
Fixed to the level applicable now. PR #816

The problems stays there in cases of label duplication between different sub-ontologies.

[2022-02-16 20:51] Kigaard commented on #756
Hi @bayjan. Thank you for your suggestion 😃
I can see that you have used a topic as a parent. However, for operation the parent should also be an operation.
Let me know if you need help 😄

[2022-02-17 08:28] #757 closed

[2022-02-17 08:28] #759 closed

[2022-02-17 08:28] #760 closed

[2022-02-17 08:28] #761 closed

[2022-02-17 08:28] #762 closed

[2022-02-18 14:10] sneumann commented on #787
Some docs on the Bruker Format
https://nmr.cemhti.cnrs-orleans.fr/dmfit/help/FileFormat/BrukerFileFormat.aspx
https://qa.nmrwiki.org/question/83/
and someone just pointed me that the individual files in there are already described in
https://terminology.nfdi4chem.de/ts/ontologies/nmrcv/terms?iri=http%3A%2F%2FnmrML.org%2FnmrCV%23NMR%3A1400267&viewMode=All&siblings=false

[2022-02-18 14:29] matuskalas commented on #787
I'm also adding to this issue the task of improving the NMR formats which already are in EDAM.

As the NMR formats are rather complex, and appear to be insufficiently documented, we had a live discussion about these with @cb2993 @LucieLamothe @sneumann and myself.

My notes with some conclusion, considerations, and further question follow. Please others add you notes in case I missed or misunderst

[2022-02-22 08:25] Kigaard commented on #756
@bayjan, a suggestion for another parent could be [Data handling](https://edamontology.github.io/edam-browser/#operation_2409) - Although other terms might be better.

Currently bio.tools is using EDAM version 1.25. Multiomics is added to EDAM version 1.26, which is still being prepared for release. I am not that involved in the releasing process, and I can't tell you when it will be released.

[2022-02-23 13:54] #780 closed

[2022-02-23 23:59] supernord opened #817 "[Edam Browser User] Change proposition for http://edamontology.org/data_0943"
[//]: # (You can add comment regarding your issue hereafter)

Should `Mass spectrum` https://edamontology.github.io/edam-browser/#http://edamontology.org/data_0943 also be part of `Spectrum`? https://edamontology.github.io/edam-browser/#http://edamontology.org/data_3483

[//]: # (End of issue comments)
### Hereafter are the initial version and proposed modification of attributes of the given term

[2022-02-24 23:49] matuskalas commented on #817
Obviously! Thanks for spotting it @supernord 🙏🏽

Do you want to get your hands dirty and add it to the OWL file? (Only if you feel like / have time😉)

[2022-02-24 23:49] matuskalas commented on #817
Obviously! Thanks for spotting it @supernord 🙏🏽

Do you want to get your hands dirty and add it to the OWL file? (Only if you feel like / have time😉)

{github doesn't allow me to comment on the issue now at 00:48, saying I can't at this time?!😮 time to test the reply via email then}
________________________________
From: Johan Gustafsson ***@***.***>
Sent: 24 February 2022 00:59
To: edamontology/e

[2022-02-25 00:01] supernord commented on #817
@matuskalas - I just need to follow the contributing guidelines to set up local git
I can try this next week - after that it should be easy for me to edit the OWL directly :smile:

[2022-03-15 15:14] LucieLamothe opened #818 "add MIM identifier"
Compare to the OMIM concept data_1153. Check for permanancy/redundacy.

[2022-03-16 09:41] #800 closed

[2022-03-25 15:48] #696 closed

[2022-04-05 21:13] bayjan commented on #756
Hi @Kigaard .
Thank you as well for your information. I am not very much into adding new terms to an ontology, so I need to check it.

As a side information, I wanted to let you know that when I queried using the term "multiomics" then there are much fewer tools than using the term "multi-omics". Should I then try to add this term as "multi-omics" instead of "multiomics"? Thank you.

[2022-04-06 11:50] Kigaard commented on #756
Hi @bayjan

If you prefer, I can add the term, when we have agreed on the term data 😄

The added multiomics term, has "multiomics" as the main term name, and "multi-omics" as a (exact) synonym. I don't think it is that important but for consistency-sake I would suggest keeping the unhyphenated version as the main label, and the hyphenated as a synonym. I assume that what you meant?

[2022-04-06 12:53] matuskalas opened #822 "Refine toxicology topics"
For now we have:
- Toxicology (http://edamontology.org/topic_2840, under Medicine and Safety sciences), used 69-times in Bio.tools, 2-times in TeSS
- Medical toxicology (http://edamontology.org/topic_3415, under Medicine), not used anywhere known by EDAM Browser

The latter should be either included as a sub-topic of Toxicology (and both refined accordingly), or otherwise deprecated and replaced b

[2022-04-07 09:20] bayjan commented on #756
Hi @Kigaard ,

Indeed that is what I meant and it would be great if you can add the term "multiomics" and "multi-omics" as its exact synonym for the sake of consistency 😄 . Thank you very much .

I think the "Analysis" term (http://edamontology.org/operation_2945) can be used as a parent at least as a very generic/distant parent . It would of course be better if something like "Integrative analysi

[2022-04-12 13:09] LucieLamothe commented on #756
I make a quick search and couldn't find a better term for parent but maybe @matuskalas has an idea?

[2022-04-19 09:22] LucieLamothe opened #824 "Comment Handle property"
It seems that the comment handle property could be deleted.

[2022-04-20 04:29] Kirill7771 opened #825 "[Edam Browser User] Change proposition for http://edamontology.org/data_1886"
[//]: # (You can add comment regarding your issue hereafter)

[//]: # (End of issue comments)
### Hereafter are the initial version and proposed modification of attributes of the given term

| key | value |
| --- | --- |
| Attr  | **label** |
| Old | Blattner number |
| New | Blattner number11 |
|  |  |

[2022-05-02 16:44] cmungall commented on #724
Hi Edam folks, wondering if there was any response to this?

[2022-05-10 13:21] LucieLamothe opened #829 "Molecule strcuture"
- [x] Add regex for the ID, which is a natural number starting from `1` (at the moment they are max 5 digits, but that may change at some point(how soon?))

- [ ] Add format for the LINUCS notation (under something like Carbohydrate (sequence/Glycan) format?)
- [ ] Add the citation `https://doi.org/10.1016/S0008-6215(01)00230-0` in the format, remove from the LINUCS ID. Perhaps the same with the f

[2022-05-12 13:34] matuskalas opened #832 "Check/refine authentication data concepts"
These have been much improved in #783, need another human check with eventual updates.

[2022-05-12 13:45] matuskalas opened #833 "Merge or/and refine genome identifier concepts"
From #783 re deprecation on GenomeReviews ID (http://edamontology.org/data_2751):

@matuskalas [on 15 Dec 2021](https://github.com/edamontology/edamontology/pull/783/files#r769425237)
Although this might be the best option, let's for the sake of being on the safe side give it another thought here, about what the best replacedBy would be.
(see also a related [comment at BioPortal](https://bioportal

[2022-05-12 22:53] #782 closed

[2022-05-13 13:04] matuskalas opened #835 "Add missing samtools, bedtools, beagle formats"
Request from an email: Would it be possible for [CRAM, CRAI](https://en.wikipedia.org/wiki/CRAM_(file_format)#:~:text=CRAM%20is%20a%20compressed%20columnar,Hsi%2DYang%20Fritz%20et%20al.&text=Open%20format%3F&text=CRAM%20was%20designed%20to%20be,Map%20(BAM)%20file%20formats.) and [beagle](https://faculty.washington.edu/browning/beagle/bref.16Dec15.pdf) to be added to the file formats to the ontolog

[2022-05-13 13:35] cristynkells commented on #835
The latest CRAM and CRAI (corresponding index) file format specification can be found at https://samtools.github.io/hts-specs/ - specifically http://samtools.github.io/hts-specs/CRAMv3.pdf

The latest Beagle file format specification can be found at https://faculty.washington.edu/browning/beagle/ - specifically https://faculty.washington.edu/browning/beagle/beagle_5.4_18Mar22.pdf

[2022-05-17 17:05] JenniferShelton commented on #835
Could I add the BEDPE format to the list of additional data formats? The format is described here https://bedtools.readthedocs.io/en/latest/content/general-usage.html#bedpe-format

[2022-06-03 20:40] cristynkells commented on #835
Hi @matuskalas, we are still not seeing CRAI, Beagle, Bref, BEDPE under the file formats to the ontology tree.  We see CRAM was added.  Thank you!

[2022-06-22 15:06] robertjeremy1 opened #841 "extract ontology from EDAM using python"
This is my first time using an API in Python. I want to extract ontology using python script . can someone tell me how to do it ?
there is an existing python script ?

[2022-07-13 13:21] allysonlister commented on #724
Thanks so much for your reply, that's very interesting, and highly relevant. I think this resolves this issue from my point of view. @cmungall ?

[2022-07-16 09:41] HrishiDhondge opened #845 "Operation Mapping of amino acid residues/nucleotides"
### Discussed in https://github.com/edamontology/edamontology/discussions/844

<div type='discussions-op-text'>

<sup>Originally posted by **HrishiDhondge** July 15, 2022</sup>
I could not find an operation for the mapping of residues from one database to another (the mapping like [SIFTS](https://www.ebi.ac.uk/pdbe/docs/sifts/index.html)). This is especially the case for mapping residues between U

[2022-07-27 10:13] #810 closed

[2022-07-29 13:48] allisonheath commented on #835
If I could chime with that we'd also like these (also saw CRAM but not CRAI) and then add tabix (.tbi) files as well: http://samtools.github.io/hts-specs/tabix.pdf ?

[2022-08-05 15:48] nsuvarnaiari commented on #580
Hi @matuskalas

Just curious to know when these terms will be released?

Thanks,
Suvvi

[2022-08-28 21:49] jakebeal opened #849 "Adjust SBOL EDAM entry"
The SBOL format entry (http://edamontology.org/format_3725) currently applies only to the SBOL2 RDF/XML format, and not the SBOL3 format, which allows all forms of RDF.

Per the discussion on https://github.com/SynBioDex/SBOL-specification/issues/488, can we please have the definition adjusted as follows:
- Change "Synthetic Biology Open Language (SBOL) is an XML format" to "Synthetic Biology Open

[2022-08-29 01:38] jakebeal commented on #849
Looks like this may be a duplicate of #752, which has been waiting for activity for nearly one year.

[2022-09-06 08:18] Kigaard commented on #811
When adding the term, I could not find the ontology field to be used for "Data represented".

[2022-09-12 11:36] ESapenaVentura opened #850 "Add `metadata spreadsheet` under resource metadata"
**Data name:**  metadata spreadsheet

*Instructions:*  metadata spreadsheet

**Short description:** Spreadsheet used to collect metadata about an entity.

**Parent URI(s):** http://edamontology.org/data_2337

**Has Topic(s):**

**exactSynonym(s):**

**Wikipedia:**

**Comment:** We want to introduce this term to describe the metadata spreadsheets used by the contributors of the [HCA-DCP](https://da

[2022-09-21 09:02] matuskalas opened #851 "Obsolete Infectious tropicsal disease has wrong 'replacedBy'"
- [ ] Add or replace by Tropical medicine, improve synonyms.
- [ ] Maybe add 'related concept'/seeAlso Infectious disease and Global health?
- [ ] Maybe more details in EDAM Geo

[2022-10-06 09:20] #769 closed, assigned to vbaillet

[2022-10-06 12:56] M-casado commented on #835
Hi there, I think CSI files ([htslib](https://github.com/samtools/htslib)’s successor to the BAI index format) are also missing from [Samtools' repertoire](https://samtools.github.io/hts-specs/). Its file specifications can be found [here](http://samtools.github.io/hts-specs/CSIv1.pdf).

Cheers, and thank you for your effort, guys! EDAM's format hierarchy is making my life way easier. We may soon

[2022-10-06 16:01] M-casado opened #854 "[BUG] (a priori) Erroneous hierarchy for "qualsolid" [format:3610]"
Hi, I believe that the term "**qualsolid**" [format:3610] has the incorrect parental hierarchy based on its definition: "_FASTQ format subset for Phred sequencing quality score data only (no sequences) for SOLiD data._".

If it does not contain indeed "sequences", I would argue the following hierarchy is wrong and it should not be included in "**Sequence record format**" [format:1919]. This last t

[2022-10-06 21:19] matuskalas commented on #854
Thank you so much for your detailed report @M-casado, this indeed needs to be reviewed 🙏🏽

[2022-11-08 18:05] Woolly-at-EBI opened #856 "Adding the metabarcoding as a sub-topic, possibly as a child of metagenomics"
**Topic name:**  metabarcoding

**Short description:** Metabarcoding is the barcoding of DNA or RNA to identify multiple taxa from the same sample. Typically high throughput sequencing is performed and the resulting sequence reads matched to a DNA barcode reference database,

**Parent URI(s):** http://edamontology.org/topic_3174

**exactSynonym(s):**

**narrowSynonym(s):** eDNA Metabarcoding|eRNA